.pos .qrclass {
    text-align: -webkit-center;
}
.pos .qrcode-container{
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 16px;
        text-align: center;
        float: left;
}