<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">What is Global search?</h2>

            <div class="oe_span12" style="font-size: large;">
                Global search lets you search any records that you have access and configured relavent models to. A sales person can search their customers and sales orders, for example, or a project manager could search for project-related tasks.
                <br/><br/>
                After installing this module, a search box will be appear at the top menubar.
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Key Features</h2>
        <div class="oe_span12" style="font-size: large;">
            <ul class="list-unstyled">
                <li><i class="fa fa-check text-primary"></i> Batch configuration option for multiple users.</li>
                <li><i class="fa fa-check text-primary"></i> N-Levels of searching is possible in relation fields like M2O, M2M, O2M.</li>
                <li><i class="fa fa-check text-primary"></i> User can directly open form view for search record.</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">How does it work?</h2>
            <div class="oe_span12" style="font-size: large;">
                Create Template: <strong>Global Search > Configuration > Settings </strong>
                <br/><br/>
                <strong><p><u>Fields Description: </u></p></strong>
                <b>Model:</b> Choose the model on which you want to allow user to search.<br/>
                <b>Search Fields:</b> Choose the fields (User can select relation fields like M2O, M2M, O2M) of selected model on which you want to allow user to search.<br/>
                <img src="global_search_01.png" width="1000px" class="mt8">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            Create Global Search record using batch: <strong> Global Search > Global Search Batches</strong>
            <br/><br/>
            &#8627; For create global search records for multiple users create batch record.
            <br/>
            &#8627; Select Template and click on <strong>Generate Global Searches</strong> button.
            <img src="global_search_02.png" width="1000px" class="mt8">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            <strong> Global Search > Global Searches</strong>
            <br/>
            &#8627; Global Search records are created for selected users.
            <br/>
            <img src="global_search_03.png" width="1000px" class="mt8">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            &#8627; Now, User can search the records according to configuration. User will get list of matching records as per search criteria in the dropdown list. <br/>
            &#8627; User can directly open 'Form View' by clicking on record.
            <img src="global_search_04.png" width="1000px" class="mt8">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Demo Video</h2>
        <div class="oe_span12" style="font-size: large;">
              <div><a href="https://www.youtube.com/watch?v=R6QYBIVuD8Y">Click Here</a> to watch demo video on Youtube.</div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Disclaimer</h2>
        <div class="oe_span12" style="font-size: large;">
            Application is work with Odoo Community and Enterprise Edition.
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
        </div>
        <div class="oe_span12">
            <span>1) One month free bug support period will be offered pertaining to any one server used, testing or live.</span><br/>
            <span>2) If an error appears in our app due to other custom modules installed in your system, we will charge for our efforts to resolve those errors. </span><br/>
            <span>3) Please note that you are not allowed to distribute or resell this module after purchase. </span><br/>
            <span>4) This module is tested and working on Odoo vanilla with Ubuntu OS. </span><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="https://support.synconics.com/helpdesk/support-1/submit" style="color: #000000 !important;"> Get Help & Support</a></h2>
        </div>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success mt8" title="Get Help !" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="https://support.synconics.com/helpdesk/support-1/submit"><span class="o_ripple" style="height: 61px; width: 61px; top: -12.9688px; left: -8.76562px;"></span> Help & Support </a>&nbsp;&nbsp;
            <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="http://www.synconics.com/opensource-erp-implementation-odoo-partner-india-gujarat-ahmedabad-expert-company-contact-us/"> Request New Features </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced">
            <span style="font-size: 20px">Checkout Other Apps Developed By Synconics Technologies <a href="https://apps.odoo.com/apps/modules/browse?search=synconics">Click Here</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="float: none;">
            <h2 class="oe_slogan"><a href="http://www.synconics.com/" style="color: #000000 !important;" target="_blank"> Our Services</a></h2>
        </div>
        <div class="oe_menu" style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-cloudhosting-installation-expert/" target="_blank">Odoo ERP Installation</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-version-legacy-system-migration-upgradation-expert/" target="_blank">Odoo ERP Migration</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-digital-stratagy-legacy-system-transformation-modernisation/" target="_blank">Digital Stratagy</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-module-configuration-setting-expert/" target="_blank">Odoo ERP configuration</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onsite-onpremise-remote-working-monthly-projectwise-dedicated-functional-technical-expert-resources/" target="_blank">Odoo ERP Staffing</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation-system-application-technology-selection/" target="_blank">Digital Technology Selection</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-module-customization-expert/" target="_blank">Odoo ERP Customization</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-remote-functional-training-by-expert-trainers/" target="_blank">Odoo Functional Training</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organisational-digital-transformation-system-application-technology-selection-implementation/" target="_blank">Digital Transformation Implementation</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-new-module-product-development-expert/" target="_blank">Odoo ERP New Module Development</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-remote-technical-training-by-expert-trainers/" target="_blank">Odoo ERP Technical Training</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation-legacy-system-application-technology-migration-modernisation/" target="_blank">Legacy Modernization</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-integration-e-commerce-payment-gateway-document-management-shipping-accounting/" target="_blank">Odoo ERP Integrations</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-expert-support-services/" target="_blank">Odoo ERP Support</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation/" target="_blank">Organizational Transformation</a>
            </li>

        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <br/><br/>
            <span style="font-size: 20px;text-align: right;">Do not mention your query in comments. Odoo does not inform us if there is any query sent on comments, with this there might be a delay from our side to respond on your query. So please forward your query on <a href="http://www.synconics.com/opensource-erp-implementation-odoo-partner-india-gujarat-ahmedabad-expert-company-contact-us/">contact@synconics.com</a> for fast response.</span>

        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <span style="font-size: 20px">For product demo, please generate a ticket and mention your preferred time and date. Please make sure the demo timing you mentioned are as per Indian Standard Time (IST), between 10:30 AM to 7:00 PM (IST), Monday to Friday.</span>
        </div>
    </div>
</section>
