<section class="oe_container">
   <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:CRIMSON;"><b>HR Employee IT Operations and Equipment Requests and Allocation from Stock</h2>
           <p class="oe_mt32"  style="color:crimson;">
           <p style="color:crimson;"></p>
           <p style="color:crimson;">This module allow employees to send requests to HR department for equipments type of hardware and software.</p>
           <b style="color:CRIMSON;">Main Features:</b>
           <ul>
                 <li style="color:olive;">Allow employee to request for hardware/software resources to HR department.</li>
                 <li style="color:olive;">Allow employee to request for repair damage hardware.</li>
                 <li style="color:olive;">Expense integrated with equipment requests.</li>
                 <li style="color:olive;">Integrated with Stock Warehouse Inventory to allocate to Employee.</li>
                 <li style="color:olive;">Print PDF report of Equipment requests.</li>
                 <li style="color:olive;">HR can generate expense for damages.</li>
                 <li style="color:olive;">Stock/Inventory user can generate internal transfer for equipment requests.</li>
                 <li style="color:olive;">For more details please watch Screenshots & Video.</li>
           </ul>
           <b style="color:CRIMSON;">Workflow:</b>
           <ul>
                <li style="color:olive;">Draft->Waiting for Approval->Approved by Department->Approved by HR Officer->Equipment Assigned->Refused->Rejected</li>
           </ul>
           <b style="color:CRIMSON;">Menus Available:</b>
            <ul>
                 <li style="color:olive;">Equipments/Equipments</li>
                 <li style="color:olive;">Equipments/Equipments/My Equipment Requests</li>
                 <li style="color:olive;">Equipments/Equipments/Department Equipment Requests to Approve</li>
                 <li style="color:olive;">Equipments/Equipments/HR Equipment Requests to Approve</li>
                 <li style="color:olive;">Equipments/Equipments/Stock Equipment Requests to Approve</li>
            </ul>
           </p>
           <p style="color:CRIMSON;"><b>Users Sample Examples for Screens Below</b>
            <ul>
              <li style="color:olive;">Employee ===> San Jose</li>
              <li style="color:olive;">Department Manager ===> Mitchell Admin</li>
              <li style="color:olive;">HR Officer===> Edith Sanchez</li>
              <li style="color:olive;">Stock User ===> stock</li>
            </ul>
        </p>
        </p>
        <p>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Equipment Requests - Menu For Admin</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i1.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Equipment Requests - Menu For Employee(San Jose)</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i2.1.png">
           <img src="i2.2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Equipment Damage Requests - Waiting For Approval Of Department</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i3.1.png">
           <img src="i3.2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Generate Expense Button - Visible On Damage Request (Only For HR Officer)(Edith Sanchez)</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i4.1.png">
           <img src="i4.2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Expense Smart Button</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i5.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">List of Generated Expenses</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i6.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Approved By Department(Mitchell Admin)</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="ii.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Approved By HR Department(Edith Sanchez)</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="ii2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Create internal transfer button for stock/warehouse user which will create internal picking.</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i7.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">View Internal Transfer</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i8.1.png">
           <img src="i8.2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Internal Transfer Form</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i9.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Department Manager Configuration</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i10.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Print Equipment Request</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i11.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">PDF Report</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="i12.1.png">
           <img src="i12.2.png">
       </div>
   </div>
</section>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 oe_span6">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
