@media only screen and (max-width: 1680px) {

    .about .patlangac{
        width: 90%;
    }

    .contact ul li{
        font-size: 20px;
    }
    .contact ul li .fa{
        font-size: 30px;
    }

}

@media only screen and (max-width:1440px){
    .form textarea{
        height: 40px;
    }
}

@media only screen and (max-width: 1366px) {
    .form .logo{
        margin-top: 0px;
    }
    .form textarea{
        height: 30px;
    }
    .form h3{
        font-size: 16px;
    }
    .form .phone{
        font-size: 20px;
    }
    .form .question{
        font-size: 12px;
    }
    .form button{
        margin: 10px 0px;
    }
}

@media only screen and (max-width:767px) {
    .menu{
        width: 100%;
        background: #142424;
        top: 0;
        display: none;
    }
    .menu .mobile-button{
        display: block;
        position: absolute;
        content: 'MENÜ';
        position: absolute;
        color: #ffffff;
        top: 0;
        text-align: center;
        width: 100%;
        z-index: 999;
    }
    .menu ul{
        display: none;
        background: #242424;
        margin-top: 50px;
    }
    .menu ul li{
        display: block;
    }
    .settings{
        width: 100%;
        height: inherit;
        float: none;
        overflow: hidden;
    }
    .landing{
        background-image: url(../img/mobil_bg.jpg);
        height: 90vh;
        background-size: 100% 100%;
        margin-top: 0px;
    }

    .landing .landing-hand{
        display: block;
        position: absolute;
        bottom: 18vh;
        /*right: 0;*/
        left: 20px;
        text-align:center ;
        animation-iteration-count: infinite;
        width: 15%;
        animation-duration: 1.5s;
        margin: 0 auto;
    }
    .landing .landing-hand img{
        width: 34px;
    }


    .form{
        position: relative;
        width: calc(100% - 40px);
        height: inherit;
    }
    .form .logo{
        margin-top: 0px;
    }
    .about{
        background: #F5591C;
    }
    .about .box{
        width: calc(90% - 20px);
        float: none;
        height: auto;
        padding: 20px;
        margin-top: 20px;
        font-size: 16px;
    }
    .product .owl-carousel{
        height: 250px;
    }
    .product .owl-carousel .item-1{
        height: 250px;
    }
    .product .owl-carousel .item-2{
        height: 250px;
    }
    .product .owl-carousel .item-3{
        height: 250px;
    }
    .product .owl-carousel .owl-nav{
        bottom: 10px;
        top: inherit;
        width: 50%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .product .owl-carousel .owl-nav .owl-prev{
        font-size: 50px;
    }
    .product .owl-carousel .owl-nav .owl-next{
        font-size: 50px;
    }
    .contact{
        background: #FE611A;
        padding-bottom: 100px;
    }
    .contact .box{
        width: calc(90% - 20px);
        float: none;
        height: auto;
        padding: 10px;
        margin-top: 20px;
        font-size: 16px;
    }

    .contact h1{
        font-size: 20px;
    }
    .contact ul li{
        font-size: 16px;
    }
    .contact ul li .fa{
        font-size: 16px;
        width: 20px;
    }

    .mobile-bar{
        background: url("../img/mobile-bar.png") no-repeat;
        height: 216px;
        position: fixed;
        bottom: -110px;
        left: 0;
        right: 0;
        background-size: contain;
        z-index: 9999;
    }

    .mobile-bar .phone-btn{
        display: block;
        position: absolute;
        height: 50px;
        width: 30%;
        background: transparent;
        left:0;
        top: 35px;
    }

    .mobile-bar .yol-btn{
        display: block;
        position: absolute;
        height: 50px;
        width: 30%;
        background: transparent;
        right:0;
        top: 35px;
    }


    .mobile-bar .form-btn{
        display: block;
        position: absolute;
        height: 100px;
        width: 30%;
        background: transparent;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}