@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext');
*{
    margin:0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.landing .landing-hand{
    display: none;
}

.menu{
    width: 80%;
    position: fixed;
    left: 0;
    height: 60px;
    background-color: #ffffff;
    line-height: 50px;
    z-index: 99;
}
.menu .mobile-button{
    display: none;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
    color: #0a0a0a;
    padding: 0px 20px;
	font-weight: bold;
    cursor: pointer;
}.menu ul li a{
    display: inline-block;
    color: #0a0a0a;
    padding: 0px 20px;
    font-weight: bold;
    cursor: pointer;
}
.menu ul li.active{
    background-color: #fd7532;
	color: #fff;
	font-weight: bold;
    box-shadow: inset 0px 0px 10px #cf6029;
}

.settings{
    width: 80%;
    height: calc(100vh - 50px);
    float: left;
    clear: both;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form{
    position: fixed;
    width:  calc(20% - 40px);
    height: calc(100vh - 40px);
    padding: 20px;
    right: 0;
    top: 0;
    background-image: url("../img/formbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.form .logo{
    width: 60%;
    margin-top: 0;
}
.form .phone{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
    display: block;
}
.form input[type="text"],
.form input[type="number"],
.form select,
.form input[type="email"]{
    width: 100%;
    background: transparent;
    border: none;
    text-indent: 10px;
    border-bottom: 2px solid #363636;
    padding: 5px 0px;
    margin-bottom: 5px;
    font-weight: bold;
}
.form textarea{
    width: 100%;
    height: 70px;
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    text-indent: 10px;
    border-bottom: 2px solid #363636;
    padding: 10px 0px;margin-bottom: 10px;
    margin-bottom: 10px;
}
.form .question{
    font-size: 14px;
}
.form .check-list{
    margin: 20px 0px;
}
.form .check-list .check{
    width: 40%;
    margin: 0 5%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.form .check-list .check *{
    display: inline-block;
}
.form .check-list .check input{
    position: absolute;
    visibility: hidden;
}
.form .check-list .check input + .box{
    background: url("../img/check.png");
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
}
.form .check-list .check input:checked + .box{
    background: url("../img/checked.png");
    background-size: 100% 100%;
}
.form button{
    width: 100%;
    border: none;
    color: #ffffff;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    background: #363636;
    margin: 20px 0px;
}
.form button:hover{
    background: #fc6c0e;
    color: #ffffff;
    cursor: pointer;
}
.form .link-btn{
    display: block;
    width: 100%;
    border: none;
    color: #ffffff;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    background: #fc6c0e;
    margin: 0px 0px;
    text-align: center;
}

.landing{
    background-image: url("../img/bg.jpg");
    margin-top: 60px;
}
.about{
    background-image: url("../img/about_bg.jpg");
}
.about .box{
    height: 65%;
    width: 40%;
    float: left;
    margin: 5%;
    overflow: auto;
    margin-top: 28vh;
    color: #ffffff;
    font-size: 20px;
}
/* width */
.about .box::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.about .box::-webkit-scrollbar-track {
    background: #6c6d73;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
.about .box::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

/* Handle on hover */
.about .box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.product .owl-carousel{
    height: 100vh;
}
.product .owl-carousel .item-1{
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url("../img/product_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.product .owl-carousel .item-2{
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url("../img/product_bg_2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.product .owl-carousel .item-3{
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url("../img/product_bg_3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.product .owl-carousel .owl-nav{
    display: block;
    width: 100%;
    position: absolute;
    top: calc(50% - 100px);
    color: #ffffff;
}
.product .owl-carousel .owl-nav button{
    margin: 0px 20px;
}
.product .owl-carousel .owl-nav .owl-prev{
    font-size: 100px;
}
.product .owl-carousel .owl-nav .owl-next{
    font-size: 100px;
    float: right;
}

.contact{
    background-image: url("../img/contact_bg.jpg");
    color: #ffffff;
}
.contact ul li{
    font-size: 30px;
    margin-top: 10%;
}
.contact ul li .fa{
    font-size: 50px;
    width: 70px;
}
.contact ul li a{
    color: #ffffff;
}
.contact .box{
    width: 40%;
    margin: 5%;
    float: left;
    margin-top: 15%;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
}
.mobile-bar{
    display: none;
}