<section class="oe_container" style="background:#dcdcdc;">
    <div class="oe_row">
        <div class="text-justify" style="padding-top:2px;padding-bottom:2px">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:20px;margin-bottom:20px;">
                <span>
                    Tour Travels
                </span>
            </h4>
            <div class="oe_span12" style="text-align:center;">
                <p style="font-size:25px;margin-right:40px;margin-bottom:20px;color:black;font-weight:bold;margin-left:10px;font-family:Times New Roman;">
                    This module provides the functionality to plan tour for a group
                </p>
            </div>
            <table style="margin:35px 35px 20px 30px;">
                <tbody>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                                Manage your contract with suppliers for Accommodation,Transportation,Restaurants,Guides.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            Configure accommodation prices based on seasons.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            Manage and Display your package with Itinerary and other details on website page.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:35px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            Calculate Group costing, costing for single person, per person in double,
                            per person in TPL and person with child.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:35px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            Calculate Selling price by selecting currency iSelling price is calculated based on exchange rate of selected currency in selling price
                            from calculated cost price.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            Profit amount fixed or percentage applied on selling price only.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-angle-right fa-2x" style="padding-bottom:35px;color:#875A7B;"/>
                        </td>
                        <td>
                            <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            Reports available for Booking Reference, Booking Reference With Room List,Customer Group Cost,Customer Quote,Invoice Report and
                            RFQ Quote.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="oe_container">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:0px;">
                <span>
                    Installed Features
               </span>
          </h4>
          <p class="oe_span12 oe_picture" style="font-size:18px;font-family:Times New Roman">
          </p>
            <div class="text-center">
                <img  width="100%" class="img img-responsive oe_screenshot center-block" src="installed_feature1.png">
                <img style="margin-top:-16px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="installed_feature2.png">
            </div>
        </div>

        <div class="oe_container"style="margin-top:40px;">
          <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:0px;">
                <span>
                    Configurations
                </span>
            </h4>
            <table style="margin:35px 35px 20px 30px;">
                    <tbody>
                        <tr>
                            <td>
                                <span class="fa fa-angle-right fa-2x" style="padding-bottom:35px;color:#875A7B;"/>
                            </td>
                            <td>
                                <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                                    User can create contract for Visa, Tickets, Meals, Guides, Transportation, Accommodation for relevant supplier
                                    with specific interval.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                            </td>
                            <td>
                                <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                                    Contract can't be overlapped for same contract type, interval and Supplier.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa fa-angle-right fa-2x" style="padding-bottom:35px;color:#875A7B;"/>
                            </td>
                            <td>
                                <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                                    Contract must be in Running state for considering prices for Visa, Tickets, Meals, Guides, Transportation, Accommodation.
                                </p>
                            </td>
                        </tr>

                    </tbody>
            </table>
        </div>

            <div class="text-center oe_spaced">
                <img width="100%" class="img img-responsive oe_screenshot center-block" src="contract_12.png">
            </div>

            <div class="oe_container"style="margin-top:40px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:0px;">
                <span>
                    Contract Creation
                </span>
            </h4>
            <table style="margin:35px 35px 20px 30px;">
                    <tbody>
                        <tr>
                            <td>
                                <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                            </td>
                            <td>
                                <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                                    Contract must be in Running state for considering prices for defined hotels here.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa fa-angle-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                            </td>
                            <td>
                                <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                                    Add item to specify seasons for selected hotel.
                                </p>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="text-center oe_spaced">
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="hotel_contract.png">
        </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Season Configuration
                </span>
                <p style="color:black;font-weight:bold;font-size:18px;text-align:justify;font-family:Times New Roman;">
                    One have to configure Rate card for season to apply rates for hotel
                    for particular season
                </p>
            </h4>
            <p style="color:black;font-size:18px;font-family:Times New Roman">
               As per shown in screen shot
               <ul style="color:black;font-size:18px;font-family:Times New Roman">
                   <li>
                       <b>Season</b> : defined High,peak,low.
                   </li>
                    <li>
                       <b>Room</b> : Configurable Single,double,Tpl.
                   </li>
                   <li>
                       <b>Room Type</b> : Configurable City view,Pool view,Sea view,suit,superior.
                   </li>
                   <li>
                      <b>Season Interval</b> : Start date and End date.
                   </li>
                   <li>
                      <b>Rates</b> : Rates variance based on combination of Season,Room,Room Type.
                   </li>
               </ul>
            </p>
        </div>
        <div class="text-center oe_spaced">
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="season_12.png">
        </div>


        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Package Creation
                </span>
                <p style="color:black;font-size:18px;text-align:justify;font-weight:bold;font-family:Times New Roman;">
                    For Creation Package Go to Tour &amp; Travels > Package > Package
                </p>
            </h4>
            <ul style="color:black;font-size:18px;font-family:Times New Roman">
                <li>
                    <b>Is Package</b> : If creating package Is package Boolean must have to be True to considered this
                as a package and if want to display this package on website have to enabled button Published on website.
                </li>
                <li>
                    <b>Number of Participant</b>: group of package created for entered number of members specified
                    in this field.
                </li>
                <li>
                    <b>Arrival &amp; Departure Date</b> : Generated Itinerary lines automatically from this specified
                    dates, One have to fill other details like description, time and meals.
                </li>
            </ul>
        </div>

        <div class="text-center">
            <img width="100%"  class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="itinarary_12.png">
        </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
             <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                   Hotels
                </span>
                <p style="color:black;font-size:18px;text-align:justify;font-weight:bold;font-family:Times New Roman;">
                   Book hotels for convenient days from Itinerary
                </p>
            </h4>
            <ul style="color:black;font-size:18px;margin-right:20px;font-family:Times New Roman">
                <li>
                    <b>Category</b> : Select hotel category.
                </li>
                <li>
                    <b>Hotel</b> : Hotel filtered based on selected category.
                </li>
                <li>
                    <b>Supplier</b> : Select supplier with already contract available in running state
                            between arrival and departure date of package.
                </li>
                <li>
                    <b>Days</b> : Select convenient days from Itinerary and other details like room, room type, price will be populated automatically based on
                    selected days from available contract for hotel and its season,
                    One can change this detail also.
                </li>
                <li>
                    <b>Generate RFQ</b> : Once package converted to quotation and its confirmed, using this button
                    create Purchase order for specified hotel.
                </li>
           </ul>
        </div>
       <div class="text-center">
           <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
           <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="hotel_12.png">
       </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                     Transportation
                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                    Same as Hotel select supplier for available contract in running state between date range of Package.
                    Price and hours auto populated based on selection of product and supplier.
                </p>
            </h4>
        </div>

        <div class="text-center">
         <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
         <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="transport_12.png">
        </div>


        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Tickets
                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                    Select supplier for available contract in running state between date range of Package.
                    Price auto populated based on selection of product and supplier.
                </p>
            </h4>
        </div>

        <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="ticket_12.png">
        </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                   Tours

                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                    Select supplier for available contract in running state between date range of Package.
                    Price auto populated based on selection of product and supplier.
                </p>
            </h4>
        </div>
        <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="tours_12.png">
        </div>
        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                Meal
                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                 Select supplier for available contract in running state between date range of Package.
                 Price and Days Valid, Menu Item auto populated based on selection of product and supplier.

                </p>
            </h4>
        </div>
       <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="meals_12.png">
       </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Guide

                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                    Select supplier for available contract in running state between date range of Package.
                    Rate populated based on selection of product and supplier.
                </p>
            </h4>
        </div>
       <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="guide_12.png">
       </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Ticketing

                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                   Select supplier for available contract in running state between date range of Package.
                    Rate populated based on selection of product and supplier.

                </p>
            </h4>
        </div>
       <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="ticketing_12.png">
       </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Visa

                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                   Select supplier for available contract in running state between date range of Package.
                     Price auto populated based on selection of product and supplier.

                </p>
            </h4>
        </div>
       <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="visa_12.png">
       </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Passenger

                </span>
                <p style="color:black;font-size:18px;text-align:center;margin-right:20px;font-family:Times New Roman;">
                    Passenger list auto created when selecting room in hotel.
                    Sequence generation based on room selection SGL,DBL,TPL for number of person going to stay.
                    One have to fill other details passenger name, age, Gender , Nationality and Remarks.

                </p>
            </h4>
        </div>
       <div>
            <img width="100%" class="img img-responsive oe_screenshot center-block" src="package_12.png">
            <img width="100%" style="margin-top:-16px;" class="img img-responsive oe_screenshot center-block"  src="passenger_12.png">
       </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                   Group Costing
                </span>
            </h4>
            <p style="color:black;font-size:18px;font-family:Times New Roman">
                <b>Group Costing</b>:
            </p>
           <ul style="color:black;font-size:18px;font-family:Times New Roman">
               <li>
                    <b>Alternative No of Pax</b>:Number of participant included in specific package.
               </li>
               <li>
                    <b>No Of FOC</b>:No of Free of Charge Person of agency going along with Alternative No of Pax of package.
               </li>
               <li>
                    <b>Seat Capacity</b>: Transportation Required with specified seat capacity.
               </li>
               <li>
                    <b>Group Cost</b>: All cost calculated for No of pax inclusive No Of FOC and Seat capacity.
               </li>
           </ul>
            <p style="color:black;font-size:18px;font-family:Times New Roman;margin-top:20px;">
                    <b>Cost Price</b> : Cost price calculations based on copmany currency or currency selected in
                        customer's pricelist.
                        All calculation inclusive for hotel, transportation, meals, guide, ticket, ticketing, visa.
                        Cost price categorised for Per Person in DBL, Per Person in single , Per Person in TPL, CWNB.
            </p>
           <ul style="color:black;font-size:18px;font-family:Times New Roman">
                <li>
                    <b>Per Person in DBL</b>:Cost inclusive for hotel room price of double room, Air ticket,tour price, visa price, transportation,
                    guide total, ticket total.<br/>
                </li>
               <li>
                    <b>Per Person in Single</b>:Cost inclusive for hotel room price of single room, Air ticket,tour price, visa price, transportation,
                    guide total, ticket total.<br/>
               </li>
               <li>
                    <b>Per Person in TPL</b>:Cost inclusive for hotel room price of TPL room, Air ticket,Tour price, Visa price, Transportation,
                    Guide total, Ticket total.<br/>
               </li>
               <li>
                    <b>CWNB</b>:Cost inclusive for Meal total ,Guide total , Airicket price , Tour price , Ticket total , Transportation, Visa price.
               </li>
           </ul>
            <p style="color:black;font-size:18px;font-family:Times New Roman;margin-top:20px;">
                <b>Selling Price</b>
            </p>
            <p style="color:black;font-size:18px;font-family:Times New Roman">
                          Selling price is calculated based on exchange rate of selected currency in selling price
                          from calculated cost price.
            </p>

            <p style="color:black;font-size:18px;font-family:Times New Roman;margin-top:20px;">
                <b>Profit Price</b>
            </p>
           <ul style="color:black;font-size:18px;font-family:Times New Roman">
                <li>
                    <b>Fixed</b> : Fixed amount applied on Selling price only.
                </li>
                <li>
                    <b>Percentage</b> : Entered Percentage calculated for Selling price only.
                </li>
           </ul>
            <p style="color:black;font-size:18px;font-family:Times New Roman">
                <b>Note* Except hotel price all prices total divided by number of participantes e.g guide total /number of participantes in package.</b>
            </p>
           </p>
        </div>
           <div class="text-center">
               <img width="100%" class="img img-responsive oe_screenshot center-block"  src="groupcost.png">
           </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                        Reports
                </span>
                <p style="color:black;font-weight:bold;font-size:18px;text-align:center;font-family:Times New Roman;">
                    Customer Group Quote
                </p>
                </h4>
            </div>

                <div class="row" style="margin-bottom:30px;">
                     <div class="col ml32  mb32" style="float: left; width: 33.33%; padding: 15px;">
                        <img width="100%" class="img img-responsive oe_screenshot center-block"  src="group.png">
                    </div>
                     <div class="col ml32 mr32 mb32" style="float: left; width: 33.33%; padding: 15px;">
                        <img width="100%" class="img img-responsive oe_screenshot center-block"  src="quote.png">
                    </div>
                </div>

        <div class="oe_container" style="margin:35px 35px 20px 30px;">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Reports
                </span>
            </h4>
            <div class="row" style="margin-bottom:30px; width: 100%">
                 <div class="col mb32">
                    <p style="color:black;font-weight:bold;font-size:18px;text-align:center;font-family:Times New Roman;">
                        Booking Reference
                    </p>
                    <div class="row" style="margin-bottom:30px;">
                     <div class="col ml32" style="float: left; width: 33.33%; padding: 15px;">
                        <img width="100%" class="img img-responsive oe_screenshot center-block"  src="booking_ref.png">
                     </div>
                    </div>
                 </div>
                 <div class="col mb32">
                    <p style="color:black;font-weight:bold;font-size:18px;text-align:center;font-family:Times New Roman;">
                        Booking Reference with rooming list
                    </p>
                    <div class="row" style="margin-bottom:30px;">
                     <div class="col ml32 mb32" style="float: left; width: 33.33%; padding: 15px;">
                        <img width="100%" class="img img-responsive oe_screenshot center-block"  src="ref_rooming.png">

                     </div>
                 </div>
                 </div>
            </div>
        </div>

        <div>
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;color:#875A7B;font-family:times new roman;margin-top:0px;margin-bottom:20px;">
                <span>
                    Related Apps
                </span>
            </h4>
            <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
                <a href="https://apps.odoo.com/apps/modules/11.0/website_tour_agency/">
                    <img class="img img-responsive" src="travel-website.jpg" style="width: 100%;">
                </a>
            </div>
            <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
                <a href="https://apps.odoo.com/apps/modules/11.0/hotel/">
                    <img class="img img-responsive" src="Hotel.png" style="width: 100%;">
                </a>
            </div>
            <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
                <a href="https://apps.odoo.com/apps/modules/11.0/car_reservation/">
                    <img class="img img-responsive" src="fleet_image.png" style="width: 100%;">
                </a>
            </div>


        </div>
    </div>
</section>




<!-- LEFT::LEFT PHOTO - MEDIUM -->

<table style="font-family: 'Helvetica Neue', Helvetica, Arial,
sans-serif;" cellpadding="0" cellspacing="0" border="0" width="100%">

    <tbody>
        <tr>
            <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">Check out our various Odoo Services below</span>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>
        <tr>
            <td  colspan="2">
                <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/consulting" style="color:#697582; text-decoration:none;">Odoo Consulting</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/gap-analysis" style="color:#697582; text-decoration:none;">Gap Analysis and BPR</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/implementation" style="color:#697582; text-decoration:none;">Odoo Implementation</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/ecommerce-integrations/magento-integration" style="color:#697582; text-decoration:none;">Integration with E-Commerce</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/trainings/openerp-odoo-technical-training" style="color:#697582; text-decoration:none;">Odoo Technical Training</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/offshore-development-partnership" style="color:#697582; text-decoration:none;">Offshore & Onsite Development</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/odoo-packages/odoo-support-package" style="color:#697582; text-decoration:none;">Support and Maintenance</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/hire-odoo-openerp-developer" style="color:#697582; text-decoration:none;">Hire Dedicated Odoo Developer</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/ecommerce-integrations/paymentech-elavon-paypal-integration" style="color:#697582; text-decoration:none;">Payment Gateway Integrations</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/trainings/openerpodoo-functional-training" style="color:#697582; text-decoration:none;">Odoo Functional Training</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/community/aios-mobile-client" style="color:#697582; text-decoration:none;">Odoo Mobile App Development</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.odooqa.com/page/manual-functional-testing" style="color:#697582; text-decoration:none;">Odoo Manual Testing</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.odooqa.com/page/automated-functional-testing" style="color:#697582; text-decoration:none;">Odoo Automated Testing</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/ecommerce-integrations/fedex-ups-usps-integration" style="color:#697582; text-decoration:none;">Integration with Shipping API</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/installation-and-hosting" style="color:#697582; text-decoration:none;">Installation & Hosting</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>


        <tr>
            <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">Check out our various Odoo Based Products</span    >

            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>
        <tr>
            <td  colspan="2">
                <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="20%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/restaurant-management-system" style="color:#697582; text-decoration:none;">Restaurant Management</a></span></td>
                            <td width="20%"><span class="fa fa-building fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/property-management-system" style="color:#697582; text-decoration:none;">Property Management</a></span></td>
                            <td width="20%"><span class="fa fa-plane fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/visa-management-system" style="color:#697582; text-decoration:none;">Visa Agency Management</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/odoo-singapore-localization" style="color:#697582; text-decoration:none;">Singapore Localization</a></span></td>
                            <td width="20%"><span class="fa fa-graduation-cap fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/education-management-system" style="color:#697582; text-decoration:none;">School, University Management</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-cubes fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/construction-management-system" style="color:#697582; text-decoration:none;">Construction Management</a></span></td>
                            <td width="20%"><span class="fa fa-bus fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/fleet-management-systems" style="color:#697582; text-decoration:none;">Fleet Management</a></span></td>
                            <td width="20%"><span class="fa fa-stethoscope fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/healthcare-management-software" style="color:#697582; text-decoration:none;">Medical ERP</a></span></td>
                            <td width="20%"><span class="fa fa-hotel fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/hotel-management-system" style="color:#697582; text-decoration:none;">Hotel Management</a></span></td>
                            <td width="20%"><span class="fa fa-users fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/human-resource-management-system" style="color:#697582; text-decoration:none;">Human Resource Management</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-map-marker fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/odoo-fieldstaff-tracking-system" style="color:#697582; text-decoration:none;">Field Service Management</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/spa-salon-management-system" style="color:#697582; text-decoration:none;">Spa & Salone Management</a></span></td>
                            <td width="20%"><span class="fa fa-phone fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/odoo-ringcentral-integration" style="color:#697582; text-decoration:none;">Ringcentral telephone integration</a></span></td>
                            <td width="20%"><span class="fa fa-heart fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/customer-relationship-management" style="color:#697582; text-decoration:none;">Customer Relationship</a></span></td>
                            <td width="20%"><span class="fa fa-user fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/talent-management-system" style="color:#697582; text-decoration:none;">Talent Management</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>

        <tr>
            <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">For any questions, support and development contact us.</span>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>

        <tr>
            <td  colspan="2">
                <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="38%"><span class="fa fa-whatsapp fa-1x" style="color:#697582;"> (+91) 98793-54457, (+91) 90334-72982 </span>
                            <span class="fa fa-phone fa-1x" style="color:#697582;"> +91-79-2975-0867</span></td>
                            <td width="17%"><span class="fa fa-envelope fa-1x" style="color:#697582;"> <a href="mailto:contact@serpentcs.com" style="color:#697582; text-decoration:none;">contact@serpentcs.com</a></span></td>
                            <td width="15%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com" style="color:#697582; text-decoration:none;">www.serpentcs.com</a></span></td>
                            <td width="15%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.in" style="color:#697582; text-decoration:none;">www.serpentcs.in</a></span></td>
                            <td width="15%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.odooqa.com" style="color:#697582; text-decoration:none;">www.odooqa.com</a></span></td>
                        </tr>
                        <tr>
                            <td width="38%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> WhatsApp, Telegram or Call 24X7</span></td>
                            <td width="17%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> Help! Send Mail</span></td>
                            <td width="15%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> Browse our Services</span></td>
                            <td width="15%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> Browse our Products</span></td>
                            <td width="15%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> QA Services</span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr colspan="2">
            <td  colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
            </td>
        </tr>
        <tr colspan="2">
            <td  colspan="2" style="padding-top:9px;">
                <a href="https://www.facebook.com/Serpent-Consulting-Services-Pvt-Ltd-299017730141795/" style="text-decoration:none;"><img src="fb.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="https://twitter.com/Serpent_CS" style="text-decoration:none;"><img src="twitter.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="https://www.linkedin.com/company-beta/2435682/" style="text-decoration:none;"><img src="in.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="https://www.youtube.com/user/husendaudi123/videos" style="text-decoration:none;"><img src="youtube.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="https://www.instagram.com/explore/tags/serpentcs/"style="text-decoration:none;"><img src="insta.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="http://www.serpentcs.com"style="text-decoration:none;"><img src="serpent32.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="http://www.serpentcs.in"style="text-decoration:none;"><img src="serpent32.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
                <a href="http://www.odooqa.com"style="text-decoration:none;"><img src="odooqa32.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                </a>
            </td>
        </tr>
        <tr colspan="2">
            <td  colspan="2" style="font-size:8px; color:#697582; line-height:15px;padding-top:10px; text-align:justify;">
            </td>
        </tr>
    </tbody>
</table>