<section class="oe_container oe_dark" style="background-color:#d8d5d6;">
    <div class='oe_cover'>
        <a href="http://www.serpentcs.com" target="new" ><img src="serpent_logo.png" align="right"></a>
    </div>
    <div class="oe_row oe_spaced" style="padding-left:30px;">
        <div class="oe_span12">
            <center>
                <h3 class="oe_centered" style="font-size:40px;font-family:Times New Roman;">
                    <b>
                        <span class="label" style="background:#875A7B;">
                            SCS Project Status Report
                        </span>
                    </b>
                </h3>
                <h3 class="oe_slogan">The module provides to generate an .xlsx file to get the graphical information of Project.</h3>
                <p class='oe_mt32'><strong>NOTE: </strong><i>For install this module libraries called <strong>python-xlsxwriter</strong> and <strong>base64</strong>
                needs to be installed in the system</i></p>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					The Graphical overview
				</h4>
            </center>
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:20px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            In the generated workbook the end user will have list of
                            number of Task, Budget information, Time Durations etc.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:90%;" class="img img-responsive center-block oe_demo oe_screenshot" src="whole_project_plan.png"/>
        </div>
    </div>
    <div class="oe_row oe_spaced" style="padding-left:30px;">
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					Project informations View
				</h4>
            </center>
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            The information about the Project is there in the <i>'Notes'</i> worksheet.<br/>
                        </p>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:40px;color:#875A7B;"></i>
                    </td>
                    <td>
                         <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                             Project Task list, Comparison of planned and
                             actual budget and also comparison of planned and actual time duration for
                             the project is also available.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:90%;" class="img img-responsive center-block oe_demo oe_screenshot" src="notes_pending_item.png"/>
        </div>
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					Project Task Bar Chart
				</h4>
            </center>
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            As shown in the image project task information and
                            the bar chart are there. End user can easily Analysed the Tasks.
                        </p>
                    </td>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:90%;" class="img img-responsive center-block oe_demo oe_screenshot" src="task_bar_chart.png"/>
        </div>
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					Pie hart for task status
				</h4>
            </center>
        </div>
        <div class="oe_span6">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            The pie chart of Overall task status.
                        </p>
                    </td>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:30%;" class="img img-responsive center-block oe_demo oe_screenshot" src="task_status.png"/>
        </div>
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					Charts for comparison
				</h4>
            </center>
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            End user can easily compare the actual and planned time and budget of the Project
                        </p>
                    </td>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:50%;" class="img img-responsive center-block oe_demo oe_screenshot" src="bar_and_column.png"/>
        </div>
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					Pending Items
				</h4>
            </center>
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:10px;margin-left:10px;font-family:Times New Roman;">
                            The column chart is there to provide information of task according to task type.
                        </p>
                    </td>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:50%;" class="img img-responsive center-block oe_demo oe_screenshot" src="pending_items.png"/>
        </div>
        <div class="oe_span12">
            <center>
                <h4 class="oe_slogan oe_centered" style="font-size:30px;font-family:Times New Roman;color:black;">
					How to print the report?
				</h4>
            </center>
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            From the Tree view of the Projects user can select multiple Project for which he/she wants to generate the report.
                        </p>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                         <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                              Then go to Mere > Project Status Report Update.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:90%;" class="img img-responsive center-block oe_demo oe_screenshot" src="act_window.png"/>
        </div>
        <div class="oe_span12">
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:30px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            As shown in the image a wizard will be open to select the date range for choose from which date we need to have list of tasks of the project.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:50%;" class="img img-responsive center-block oe_demo oe_screenshot" src="wizard_date_range.png"/>
        </div>
         <div class="oe_span12">
        </div>
        <div class="oe_span12">
            <table style="margin:0px 35px 10px 35px;">
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right fa-2x " style="float:left;padding-bottom:10px;color:#875A7B;"></i>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:10px;margin-left:10px;font-family:Times New Roman;">
                            By click on the <i>'Generate'</i> button shown in the wizard end user will have the list of the files per Project to download.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center" style="margin-top:10px;margin-bottom:20px;">
            <img style="width:50%;" class="img img-responsive center-block oe_demo oe_screenshot" src="file_download.png"/>
        </div>
        <div style="
            border: 0;
            margin: 40px 40px;
            height: 4px;
            border-top: black 1px solid;
            border-bottom: black 1px solid;
            position: relative;">
            <i class="fa fa-star fa-2x fa-spin" style="
            color: #875A7B;
            background: #d8d5d6;
            text-align: center;
            display: inline-block;
            height: 50px;
            line-height: 50px;
            width: 50px;
            font-size: 20px;
            position: absolute;
            top: -25px;
            left: 50%;
            margin: 0 auto 0 -25px;">
            </i>
        </div>
    </div>
</section>

<!-- LEFT::LEFT PHOTO - MEDIUM -->

<table style="font-family: 'Helvetica Neue', Helvetica, Arial,
sans-serif;" cellpadding="0" cellspacing="0" border="0" width="100%">

    <tbody>
        <tr>
            <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">Check out our various Odoo Services below</span>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>
        <tr>
            <td  colspan="2">
                <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/consulting"
style="color:#697582; text-decoration:none;">Odoo Consulting</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/gap-analysis"
style="color:#697582; text-decoration:none;">Gap Analysis and BPR</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/implementation"
style="color:#697582; text-decoration:none;">Odoo Implementation</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/ecommerce-integrations/magento-integration"
style="color:#697582; text-decoration:none;">Integration with E-Commerce</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/trainings/openerp-odoo-technical-training"
style="color:#697582; text-decoration:none;">Odoo Technical Training</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/offshore-development-partnership"
style="color:#697582; text-decoration:none;">Offshore & Onsite Development</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/odoo-packages/odoo-support-package"
style="color:#697582; text-decoration:none;">Support and Maintenance</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/hire-odoo-openerp-developer"
style="color:#697582; text-decoration:none;">Hire Dedicated Odoo Developer</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/ecommerce-integrations/paymentech-elavon-paypal-integration"
style="color:#697582; text-decoration:none;">Payment Gateway Integrations</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/trainings/openerpodoo-functional-training"
style="color:#697582; text-decoration:none;">Odoo Functional Training</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/community/aios-mobile-client"
style="color:#697582; text-decoration:none;">Odoo Mobile App Development</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.odooqa.com/page/manual-functional-testing"
style="color:#697582; text-decoration:none;">Odoo Manual Testing</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.odooqa.com/page/automated-functional-testing"
style="color:#697582; text-decoration:none;">Odoo Automated Testing</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/ecommerce-integrations/fedex-ups-usps-integration"
style="color:#697582; text-decoration:none;">Integration with Shipping API</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com/services/odoo-openerp-services/installation-and-hosting"
style="color:#697582; text-decoration:none;">Installation & Hosting</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>


        <tr>
            <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">Check out our various Odoo Based Products</span>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>
        <tr>
            <td  colspan="2">
                <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="20%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/restaurant-management-system"
style="color:#697582; text-decoration:none;">Restaurant Management</a></span></td>
                            <td width="20%"><span class="fa fa-building fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/property-management-system"
style="color:#697582; text-decoration:none;">Property Management</a></span></td>
                            <td width="20%"><span class="fa fa-plane fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/visa-management-system"
style="color:#697582; text-decoration:none;">Visa Agency Management</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/odoo-singapore-localization"
style="color:#697582; text-decoration:none;">Singapore Localization</a></span></td>
                            <td width="20%"><span class="fa fa-graduation-cap fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/education-management-system"
style="color:#697582; text-decoration:none;">School, University Management</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-cubes fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/construction-management-system"
style="color:#697582; text-decoration:none;">Construction Management</a></span></td>
                            <td width="20%"><span class="fa fa-bus fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/fleet-management-systems"
style="color:#697582; text-decoration:none;">Fleet Management</a></span></td>
                            <td width="20%"><span class="fa fa-stethoscope fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/healthcare-management-software"
style="color:#697582; text-decoration:none;">Medical ERP</a></span></td>
                            <td width="20%"><span class="fa fa-hotel fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/hotel-management-system"
style="color:#697582; text-decoration:none;">Hotel Management</a></span></td>
                            <td width="20%"><span class="fa fa-users fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/human-resource-management-system"
style="color:#697582; text-decoration:none;">Human Resource Management</a></span></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="fa fa-map-marker fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/odoo-fieldstaff-tracking-system"
style="color:#697582; text-decoration:none;">Field Service Management</a></span></td>
                            <td width="20%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/spa-salon-management-system"
style="color:#697582; text-decoration:none;">Spa & Salone Management</a></span></td>
                            <td width="20%"><span class="fa fa-phone fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/odoo-ringcentral-integration"
style="color:#697582; text-decoration:none;">Ringcentral telephone integration</a></span></td>
                            <td width="20%"><span class="fa fa-heart fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/customer-relationship-management"
style="color:#697582; text-decoration:none;">Customer Relationship</a></span></td>
                            <td width="20%"><span class="fa fa-user fa-1x" style="color:#697582;"> <a href="http://serpentcs.in/product/talent-management-system"
style="color:#697582; text-decoration:none;">Talent Management</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>

        <tr>
            <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">For any questions, support and development contact us.</span>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
             </td>
        </tr>

        <tr>
            <td  colspan="2">
                <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="38%"><span class="fa fa-whatsapp fa-1x" style="color:#697582;"> (+91) 98793-54457, (+91) 90334-72982 </span>
                            <span class="fa fa-phone fa-1x" style="color:#697582;"> +91-79-2975-0867</span></td>
                            <td width="17%"><span class="fa fa-envelope fa-1x" style="color:#697582;"> <a href="mailto:contact@serpentcs.com"
style="color:#697582; text-decoration:none;">contact@serpentcs.com</a></span></td>
                            <td width="15%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.com"
style="color:#697582; text-decoration:none;">www.serpentcs.com</a></span></td>
                            <td width="15%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.serpentcs.in"
style="color:#697582; text-decoration:none;">www.serpentcs.in</a></span></td>
                            <td width="15%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="http://www.odooqa.com"
style="color:#697582; text-decoration:none;">www.odooqa.com</a></span></td>
                        </tr>
                        <tr>
                            <td width="38%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> WhatsApp, Telegram or Call 24X7</span></td>
                            <td width="17%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> Help! Send Mail</span></td>
                            <td width="15%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> Browse our Services</span></td>
                            <td width="15%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> Browse our Products</span></td>
                            <td width="15%"><span class="fa fa-hand-pointer-o fa-1x" style="color:#697582;"> QA Services</span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr colspan="2">
            <td  colspan="2" style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
            </td>
        </tr>
        <tr colspan="2">
            <td  colspan="2" style="padding-top:9px;">
                <center>
                    <a href="https://www.facebook.com/Serpent-Consulting-Services-Pvt-Ltd-299017730141795/" style="text-decoration:none;"><img src="fb.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="https://twitter.com/Serpent_CS" style="text-decoration:none;"><img src="twitter.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="https://www.linkedin.com/company-beta/2435682/" style="text-decoration:none;"><img src="in.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="https://www.youtube.com/user/husendaudi123/videos" style="text-decoration:none;"><img src="youtube.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="https://www.instagram.com/explore/tags/serpentcs/"style="text-decoration:none;"><img src="insta.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="http://www.serpentcs.com"style="text-decoration:none;"><img src="serpent32.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="http://www.serpentcs.in"style="text-decoration:none;"><img src="serpent32.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                    <a href="http://www.odooqa.com"style="text-decoration:none;"><img src="odooqa32.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                    </a>
                </center>
            </td>
        </tr>
        <tr colspan="2">
            <td  colspan="2" style="font-size:8px; color:#697582; line-height:15px;padding-top:10px; text-align:justify;">
            </td>
        </tr>
    </tbody>
</table>
