.oe_gantt_color_1 {
  fill: #F06050 !important;
}
.oe_gantt_color_2 {
  fill: #F4A460 !important;
}
.oe_gantt_color_3 {
  fill: #F7CD1F !important;
}
.oe_gantt_color_4 {
  fill: #6CC1ED !important;
}
.oe_gantt_color_5 {
  fill: #814968 !important;
}
.oe_gantt_color_6 {
  fill: #EB7E7F !important;
}
.oe_gantt_color_7 {
  fill: #2C8397 !important;
}
.oe_gantt_color_8 {
  fill: #475577 !important;
}
.oe_gantt_color_9 {
  fill: #D6145F !important;
}
.oe_gantt_color_10 {
  fill: #30C381 !important;
}
.oe_gantt_color_11 {
  fill: #9365B8 !important;
}

.o-gantt-timeframe.active {
    color: #ffffff;
    background-color: #337AB7 !important;
}


.gantt .grid-background {
  fill: none; }

.gantt .grid-header {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4; }

.gantt .grid-row {
  fill: #ffffff; }

.gantt .grid-row:nth-child(even) {
  fill: #f5f5f5; }

.gantt .row-line {
  stroke: #ebeff2; }

.gantt .tick {
  stroke: #e0e0e0;
  stroke-width: 0.2; }
  .gantt .tick.thick {
    stroke-width: 0.4; }

.gantt .today-highlight {
  fill: #fff2ae;
  opacity: 0.5; }

.gantt .arrow {
  fill: none;
  stroke: #666;
  stroke-width: 1.4; }

.gantt .bar {
  fill: #b8c2cc;
  stroke: #8D99A6;
  stroke-width: 0;
  transition: stroke-width .3s ease;
  user-select: none; }

.gantt .bar-progress {
  fill: #28a745; }

.gantt .bar-progress-alert {
  fill: #dc3545; }

.gantt .bar-invalid {
  fill: transparent;
  stroke: #8D99A6;
  stroke-width: 1;
  stroke-dasharray: 5; }
  .gantt .bar-invalid ~ .bar-label {
    fill: #555; }

.gantt .bar-label {
  fill: #fff;
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  font-weight: lighter; }
  .gantt .bar-label.big {
    fill: #555;
    text-anchor: start; }

.gantt .handle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease; }

.gantt .handle-invalid {
  fill: #dc3545 !important;
 }

.gantt .bar-wrapper {
  cursor: pointer; }
  .gantt .bar-wrapper:hover .bar {
    fill: #a9b5c1; }
  .gantt .bar-wrapper:hover .bar-progress {
    fill: #28a745; }
  .gantt .bar-wrapper:hover .bar-progress-alert {
    fill: #dc3545; }
  .gantt .bar-wrapper:hover .handle {
    visibility: visible;
    opacity: 1; }
  .gantt .bar-wrapper.active .bar {
    fill: #a9b5c1; }
  .gantt .bar-wrapper.active .bar-progress {
    fill: #28a745; }
  .gantt .bar-wrapper.active .bar-progress-alert {
    fill: #dc3545; }

.gantt .lower-text, .gantt .upper-text {
  text-anchor: middle;
  font-size: 12px; }

.gantt .upper-text {
  fill: #555; }

.gantt .lower-text {
  fill: #333; }

.gantt .hide {
  display: none; }

.gantt-container {
  position: relative;
  font-size: 12px; }
  .gantt-container .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    color: #959da5;
    border-radius: 3px; }
    .gantt-container .popup-wrapper .title {
      border-bottom: 3px solid #a3a3ff;
      padding: 10px; }
    .gantt-container .popup-wrapper .subtitle {
      padding: 10px;
      color: #dfe2e5; }
    .gantt-container .popup-wrapper .pointer {
      position: absolute;
      height: 5px;
      margin: 0 0 0 -5px;
      border: 5px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.8); }