ul.countdown {
  list-style: none;
  display: block;
  text-align: center;
  margin-top: 3px;
  float:right;
}

ul.countdown li { display: inline-block; }

ul.countdown li span {
    font-size: 15px;
    padding: 0 25px;
    border-top: 1px solid #C0392B;
    border-bottom: 1px solid #C0392B;
}

ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.days {
  background-color: #C0392B;
  padding: 0 10px;
  color: #fff;
}

.last { border-right: 1px solid #C0392B; }

ul.countdown li p.text{
    color: white;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    ul.countdown {
      list-style: none;
      display: block;
      text-align: center;
      margin-top: 3px;
    }

    ul.countdown li { display: inline-block; }

    ul.countdown li span {
        font-size: 8px;
        padding: 0 15px;
        border-top: 1px solid #C0392B;
        border-bottom: 1px solid #C0392B;
    }

    ul.countdown li p {
      color: #a7abb1;
      font-size: 8px;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .days {
      background-color: #C0392B;
      padding: 0 10px;
      color: #fff;
    }

    .last { border-right: 1px solid #C0392B; }

    ul.countdown li p.text{
        color: white;
        font-weight: 700;
    }
}