/* ADDED BY KAPIL PATEL */
/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Kumar+One+Outline|Mountains+of+Christmas:400,700|Orbitron&display=swap');/* @font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		  url('../fonts/beyond_the_mountains.ttf')  format('opentype');
} */
/* HEADE INHERIT */
header .navbar {
    /* background-color: transparent !important; */
    /* border-color: transparent !important; */
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    width: 90%;
    background: #272e38f2 !important;
    z-index: 12;
    /* border-radius: 1px 1px 40px 40px; */
    margin: 10px auto;
    right: 0;
    left: 0;
}
header.affixed .navbar {
    /* background-color: transparent !important; */
    /* border-color: transparent !important; */
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    background: #272e38f2 !important;
    z-index: 12;
    /* border-radius: 1px 1px 40px 40px; */
    margin: 0px auto;

}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
#top_menu a {
    font-size: 14px !important;
    font-weight: normal;
    text-transform: uppercase;
}

.bg-light {
    background-color:#1E1E1E !important;
    color: #212529;
}
/* .single-welcome-slide {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 645px;
    background-color: #1cc3b2;
} */
/* .asset-homepage {
    background: url('/website_tour_agency/static/src/img/main_home_page.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
.asset-save-sale {
    background: url('/website_tour_agency/static/src/img/package_header.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.rent-single-welcome-slide {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 350px;
    background-color: #1cc3b2;
}


.package-inner-content {
    position: relative;
    font-family: 'Dosis', sans-serif;
    text-shadow: 7px 2px 5px #252F31;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.package-inner-content h3 {
    letter-spacing: 0.3em;
    font-size: 55px;
    font-weight: 700;
    color: #ffc107;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 15px;
    text-shadow: 4px 3px 8px #252F31;
}

.package-details-inner-content {
    position: relative;
    font-family: 'Dosis', sans-serif;
    text-shadow: 7px 2px 5px #252F31;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.package-details-inner-content h3 {
    letter-spacing: 0.3em;
    font-size: 40px;
    font-weight: 600;
    color: #ffc107;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 14px;
    text-shadow: 4px 3px 8px #252F31;
}

/* .package-details-content h3 {
    letter-spacing: 0.3em;
    font-size: 55px;
    font-weight: 700;
    color: #ffc107;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 15px;
    text-shadow: 4px 3px 8px #252F31;
} */

.package-inner-content ul li a {
    font-size: 17px;
    font-weight: 800;
}

.package-inner-content ul li {
    display: inline-block;
    color: #f27739;
    font-size: 17px;
    font-weight: 800;
}
.welcome-area_content{
        font-size: 55px;
        font-weight: 700 !important;
        color: #ffc107;
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        word-spacing: 15px;;
        text-shadow: 4px 3px 8px #252F31;
}

.bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(54, 31, 78, 0.42);
        opacity: 0.5;
}
/*
.welcome-area_content
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-46%, -47%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-51%, -50%);
}
.welcome-area_content h1
{
	margin-bottom: 0px;
}
.welcome-area_content h1:first-child
{
    font-size: 55px;
        font-weight: 700;
        color: #ffc107;
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        word-spacing: 15px;;
        text-shadow: 4px 3px 8px #252F31;
}
.welcome-area_content h1:nth-child(2)
{
    font-size: 55px;
        font-weight: 700;
        color: #ffc107;
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        word-spacing: 15px;;
        text-shadow: 4px 3px 8px #252F31;
}
.welcome-area_content h1:nth-child(3)
{
    font-size: 55px;
    color: #FFFFFF;

    font-family: 'Orbitron', sans-serif;
    line-height: 50px;
    text-shadow: 4px 3px 8px #252F31;
} */
.welcome-area_button
{
	margin-top: 70px;
}
.flipInX
{
	animation-delay: 600ms;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(255, 178, 0);
}



/*
.form-control {
  border: 1px solid #ddd;
  background: none;
  border-radius: 0;
}

.form-control:focus {
  border-color: #379392;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #aaa;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.form-control:-ms-input-placeholder {
  color: #aaa;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.search-bar {
  border-radius: 100px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 3px 8px #252F31;
  padding: 5px;
  margin-top: 30px;
  padding-left: 30px;
}

.search-bar .form-group {
  margin-bottom: 0;
  position: relative;
}

.search-bar .form-group label {
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #aaa;
  font-size: 0.8em;
}

.search-bar .form-group::after {
  content: "";
  display: block;
  height: 60%;
  width: 1px;
  background: #ddd;
  position: absolute;
  top: 20%;
  right: 0;
}

.search-bar .form-group:nth-of-type(3)::after,
.search-bar .form-group:last-of-type::after {
  display: none;
}

.search-bar input,
.search-bar .bootstrap-select {
  background: none;
  border: none;
  padding: 20px 0 15px;
  width: 100%;
}

.search-bar input::-moz-placeholder,
.search-bar .bootstrap-select::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.search-bar input::-webkit-input-placeholder,
.search-bar .bootstrap-select::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.search-bar input:-ms-input-placeholder,
.search-bar .bootstrap-select:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.search-bar .bootstrap-select {
  width: 100% !important;
  padding: 0;
}

.search-bar .bootstrap-select .dropdown-toggle {
  background: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 20px 0 15px;
  color: #aaa;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.search-bar .bootstrap-select .dropdown-toggle::after {
  display: none;
}

.search-bar .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

.search-bar .submit {
    background: #f6d13f;
    color: #fff;
    font-family: "Vidaloka", serif;
    border-radius: 100px;
    font-size: 1.3em;
    cursor: pointer;
}


select.listing-categories {
    background: none;
    border: none;
    padding: 20px 0 15px;
    width: 100%;
}

@media (max-width: 992px) {
  section.hero h1.verified::after {
    bottom: 10px;
    right: -40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #379392;
    text-align: center;
  }

  .search-bar {
    background: none;
    padding: 20px 0;
  }

  .search-bar .form-group::after {
    display: none;
  }

  .search-bar .form-group label {
    right: 30px;
  }

  .search-bar input,
  .search-bar .bootstrap-select {
    background: #fff;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 50px;
  }

  .search-bar .bootstrap-select {
    padding: 0;
  }

  .search-bar .bootstrap-select button {
    padding: 10px 20px;
  }

  .search-bar label {
    top: calc(50% - 8px) !important;
  }

  .search-bar .submit {
    margin-top: 15px;
  }
}


/*********************************
5. Search
*********************************/
.search-main {
    /* padding-top: 45px; */
}
.search
{
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
    /* margin-top: 225px; */
    border-radius: 45px 45px 45px 45px;
}
.search_tabs_container
{
	position: absolute;
	bottom: 100%;
	left: 15px;
	width: calc(100% - 30px);
}
.search_tabs
{
	height: 94px;
}
.search_tab
{
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab img
{
	margin-right: 10px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab:first-child
{
	border-top-left-radius: 94px;
	padding-left: 7px;
}
.search_tab:last-child
{
	border-top-right-radius: 94px;
	padding-right: 7px;
}
.search_tab.active
{
	background: #fa9e1b;
	color: #FFFFFF;
}
.search_tab.active img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_tab:hover
{
	background: #fa9e1b;
	color: #FFFFFF;
}
.search_button_hotel {
    display: none;
}
.search_tab:hover img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_panel
{
display: flex!important;
	width: 100%;
	height: 110px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.search_panel_content
{
	width: 100%;
	height: 100%;
    padding: 50px;
}
.search_input
{
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
	font-weight: 600;
	color: #929191;
    box-shadow: -4px 3px 17px 6px #aeaeae;
}



.search_item:first-child
{
	width: 60.453%;
}
.search_item:nth-child(2)
{
	width: 20.961%;
}
.search_item:nth-child(3)
{
	width: 15.961%;
}
/* .search_item:nth-child(4)
{
	width: 9.947%;
}
.search_item:nth-child(5)
{
	width: 9.947%;
} */
.search_item div
{
	font-size: 13px;
	font-weight: 700;
	color: #1e1e1ecf;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/dropdown.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.dropdown_item_select:hover
{
	border: solid 1px #fa9e1c;
}
.dropdown_item_select:focus
{
	outline-color: #fa9e1c;
}
.search_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	background: #ffc107;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 6px 42px 2px #aeaeae;
}
.search_button:hover
{
	opacity: 0.8;
}

.pt48 {
    padding-top: 20px !important;
}
/* .pb96 {
    padding-bottom: 0px !important;
} */


nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #ff9800 ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #ff9800;
    border-bottom:5px solid #ff9800;
    padding:30px 25px;
    width: 70rem;
    /* height: 710px;; */
}
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #ff9800;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}


.table-itinerary {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 1120px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    table-layout: fixed;
}








/* Tabs*/
/* #tabs section {
    padding: 60px 0;
}

#tabs .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
} */

.gallery-column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 5px;
      /* padding: 15px; */
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
}
.gallery-btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.gallery-btn:hover {
  background-color: #ddd;
}

.gallery-btn.active {
  background-color: #666;
  color: white;
}

.gallery-header {
  text-align: center;
  padding: 32px;
}

.gallery-row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* END KAPIL CODE  */
.cd-filter-block label{
    margin-bottom: 0px;
    font-weight: normal;
}
.list_style_none li{

    list-style: none;
}
.facility_icons li{
    color: dimgray;
    font-size: 13px;
    line-height: 21px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.facility_icons .icon_color {
    opacity: .70;
    font-size: 15px;
}
.icon_color_details {
    opacity: .70;
    font-size: 20px;
}
.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}
/*header a.navbar-brand img {
    max-height: 125px !important;
    margin-top: -35px !important;
}*/
/* --------------------------------

xtab-filter

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #41307c;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #41307c;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #41307c;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #41307c;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xfilter

-------------------------------- */
.cd-filter {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #41307c;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 120px;
  color: #fff !important;
  font-size: 12px;
  text-align: center;
  background: #37296a;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
  text-decoration: none;
  cursor: pointer;
}
.no-touch .cd-filter .cd-close:hover {
  background: #32255f;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  /* .cd-filter {
    width: 20%;
  }*/
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../img/cd-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 10%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #41307c;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* --------------------------------

xcustom form elements

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  /*font-size: 1.4rem;*/
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .5em;
  list-style: none;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  /*font-size: 1.4rem;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
  left:0;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}


















/*PACKAGES PAGE */
.package {
    background-color: #f8f8f8;
}
.package-wiget {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 0px 17px 1px #aeaeae;
    border-radius: 20px 20px 20px 20px;
}
.package-wiget .grid figure {
    border-radius: 0;
}
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background: #fff;
    text-align: center;
    cursor: pointer;
}
figure {
    margin: 0;
}

.ribbon {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: center;
}
figure.effect-milo img {
    width: -webkit-calc(100% + 100px);
    width: calc(100% + 100px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* -webkit-transform: translate3d(-50px, -45px, -40px) scale(0.9); */
    /* transform: translate3d(-13px, 0, 0) scale(1.12); */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px 20px 0px 0px;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 1;
}
.ribbon span {
    background: linear-gradient(#f94141 0,#f94141 100%);
}
/* .place-name, .ribbon span, .panel-body .thm-btn {
    background-color: #f94141 !important;
}*/
.ribbon span {
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #f94141;
    background: linear-gradient(#f94141 0,#f94141 100%);
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    position: absolute;
    top: 19px;
    left: -21px;
}
.grid figure figcaption, .grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption {
    padding: 20px;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.package-wiget figure.effect-milo .effect-block {
    margin-top: 50px !important;
}
figure.effect-milo .effect-block {
    margin-top: 30px;
    padding: 0 0 0 10px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0.160px, 0);
}
.package-wiget .effect-block h3, .package-wiget .effect-block span {
    margin-bottom: 15px;
}
.page-content h3 {
    font-size: 26px;
    line-height: 25px;
    color: rgb(121, 121, 121);
    margin-top: 0;
    font-weight: 300;
}
.effect-block h3 {
    color: #000;
    margin: 0 0 20px;
    font-size: 21px;
}
.section-title i, ul.list-ok li::before, .effect-block .package-ratting, .package-price .price, .review_rating, .booking_price .offer, .box_map i, .content-list li::before, .content-left span, blockquote .author, .team_text_inner p {
    color: #f94141 !important;
}
.effect-block .package-ratting {
    font-size: 12px;
    margin-bottom: 15px;
}
.package-wiget figure.effect-milo .thm-btn {
    margin-top: 0;
    padding: 9px 17px;
    font-size: 11px;
}
.package-wiget .grid a {
    position: inherit;
}
.grid figure figcaption, .grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*.get-offer:before, .panel-body, a.prev, a.next, .fs-pager-wrapper a, .fs-custom-pager-wrapper a, .fraction-slider .next:hover, .fraction-slider .prev:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .thm-btn, .btn-top, .region, .portfolio-sorting li a span, .pagination-inner .pager li > a, .pagination > li > a:hover, .pagination-inner .pagination > .active > a, .cats-title span, .ui.tag:hover, .separator, #tour-slide.owl-theme .owl-controls.clickable .owl-page:hover span, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #fec107 !important;
}*/
.thm-btn {
    padding: 12px 30px !important;
    color: #333 !important;
    font-weight: 700;
    font-size: 13px;
    border: 0 !important;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}
.thm-btn:before {
    content: '';
    position: absolute;
    border: white solid 3px;
    border-radius: 4px;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.package-content {
    padding: 15px;
    text-align: center;
}
.package-content h5 {
    color: #000;
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.package-price {
    color: #FFC107;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.section-title i, ul.list-ok li::before, .effect-block .package-ratting, .package-price .price, .review_rating, .booking_price .offer, .box_map i, .content-list li::before, .content-left span, blockquote .author, .team_text_inner p {
    color: #f94141 !important;
}
.package-price .price {
    font-weight: 300;
    margin: 0;
    line-height: 30px;
    display: inline-block;
}
.package-price .price span {
    font-size: 16px;
}
.info-box a, .navbar .navbar-nav > li > a, .uc, .turky, .nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .title p, .content-text h5, .effect-block span, .destination-grid .mask p, .destination-grid .dest-name h5, .offer-details-1 span, .panel label, .package-content h5, .offer-details-2 span, .hotel-person, .get-offer span, .get-offer .btn-default, .blog-img span, .address-inner p, .categoty li a, .widget_pages li a, .footer-menu ul li a, .portfolio-sorting li a, .place-name, .ui.tag, .post-tags span, .btn-np, .btn-inner .blog-social ul li span, .comment-box .comment-content h5, .comment-author, .customers, .comment-datetime, .comment-form .form-control, .contact-form .form-control, .contact-content h4, .contact-content a, .trip h5, .trip p, .hotels-details-inner h3, .tour-details-inner h3, .review-text h4, .content-list li, .contact-icon h5, .sub-footer p, .navbar-default.tour-nav ul li a, .booking_price ul.list-ok li, .booking_price .offer, .effect-block h3, .package-price .price span {
    font-weight: 600;
}
.section-title i, ul.list-ok li::before, .effect-block .package-ratting, .package-price .price, .review_rating, .booking_price .offer, .box_map i, .content-list li::before, .content-left span, blockquote .author, .team_text_inner p {
    color: #f94141 !important;
}
figure.effect-milo:hover .effect-block, .package-wiget:hover .effect-block {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.package_search input{
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 45px;
    margin: 0;
    z-index: 10;
    /*padding: 20px 65px 20px 20px;*/
    font-family: inherit;
    font-size: 18px;
    color: #2c3e50;
}
.border_radius_no{
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
.package_search_btn button{
    width: 45px;
    height: 45px;
    background: #da6d0d;
    color: #fff;
    border: none;
}
.customize_from_design{
    padding:15px;
}
.form_input_custom input, .form_input_custom select, .form_input_custom textarea{
    box-shadow: none;
    border-radius: 0;
    border: 2px solid rgba(0,0,0,.1);
}
.custom-pannel .panel-default > .panel-heading{
    border-color: transparent;
}






.popular-inner {
    padding: 0px;
}
@media (min-width: 768px)
.popular-inner .thm-margin, .blog-inner .thm-margin {
    margin-left: -10px;
    margin-right: -10px;
}
.thm-margin {
    margin-right: -10px;
    margin-left: -10px;
}
.thm-margin {
    margin: 0;
}
.grid-item-inner {
    position: relative;
    overflow: hidden;
    color: #fff;
}
.grid-item-inner {
    position: relative;
    overflow: hidden;
    color: #fff;
}
.ribbon {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: center;
}
.ribbon span {
    background: linear-gradient(#f94141 0,#f94141 100%);
}
.place-name, .ribbon span, .panel-body .thm-btn {
    background-color: #f94141 !important;
}
.ribbon span {
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #f94141;
    background: linear-gradient(#f94141 0,#f94141 100%);
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    position: absolute;
    top: 19px;
    left: -21px;
}
//a {
//    color: rgb(0, 0, 0);
//}
.grid-content {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.grid-price {
    float: right;
    padding-top: 22px;
    font-weight: 700;
    padding: 15px;
    display: inline-block;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus:hover, .home-ref .testimonials blockquote::before, .navbar .nav > li.active > a, .navbar .nav > li.active > a:focus, .grid-price span, .entry-title a:hover, .btn-np:hover, .navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover, .travel-times span, .uc, .owl-theme .owl-controls .owl-buttons div, figure.effect-milo .ratting, .block .price, .destination-grid .dest-name h5, .hotel-item .hotel-body .ratting i, .blog-content:hover h4, .portfolio-sorting li a:hover, .portfolio-sorting li a.active, .filters-btn:hover i, .travel-title span i, .pagination-inner .pager li > a:hover, .pagination > li > a, .cats-widget ul li:hover, .cats-widget ul li:hover a, .popular-post-inner ul li a:hover, .checkbox-star .star i, .help-widget h4 span, .hotel-review .hotel-review-ratting, .booking-form .icon-addon .glyphicon, .btn-pm, .contact-icon a:hover, .contact-content a, .categoty li a:hover, .widget_pages li a:hover, .footer-menu ul li a:hover, .home-ref blockquote .author, .team_text_inner p {
    color: #fec107 !important;
}
.grid-price span {
    font-size: 28px;
    color: #fec107;
}
.grid-price span sub {
    font-size: 14px;
    position: relative;
    top: 0px;
}
sub {
    bottom: -0.25em;
}
.grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
}
//{
//    background-color: #f94141 !important;
//}
.place-name {
    display: inline-block;
    padding: 5px 7px;
    font-size: 12px;
    line-height: 10px;
    background-color: #f94141;
}
.info-box a, .navbar .navbar-nav > li > a, .uc, .turky, .nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .title p, .content-text h5, .effect-block span, .destination-grid .mask p, .destination-grid .dest-name h5, .offer-details-1 span, .panel label, .package-content h5, .offer-details-2 span, .hotel-person, .get-offer span, .get-offer .btn-default, .blog-img span, .address-inner p, .categoty li a, .widget_pages li a, .footer-menu ul li a, .portfolio-sorting li a, .place-name, .ui.tag, .post-tags span, .btn-np, .btn-inner .blog-social ul li span, .comment-box .comment-content h5, .comment-author, .customers, .comment-datetime, .comment-form .form-control, .contact-form .form-control, .contact-content h4, .contact-content a, .trip h5, .trip p, .hotels-details-inner h3, .tour-details-inner h3, .review-text h4, .content-list li, .contact-icon h5, .sub-footer p, .navbar-default.tour-nav ul li a, .booking_price ul.list-ok li, .booking_price .offer, .effect-block h3, .package-price .price span {
    font-weight: 600;
}
.travel-times h4 {
    font-size: 16px;
    color: #fff;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus:hover, .home-ref .testimonials blockquote::before, .navbar .nav > li.active > a, .navbar .nav > li.active > a:focus, .grid-price span, .entry-title a:hover, .btn-np:hover, .navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover, .travel-times span, .uc, .owl-theme .owl-controls .owl-buttons div, figure.effect-milo .ratting, .block .price, .destination-grid .dest-name h5, .hotel-item .hotel-body .ratting i, .blog-content:hover h4, .portfolio-sorting li a:hover, .portfolio-sorting li a.active, .filters-btn:hover i, .travel-title span i, .pagination-inner .pager li > a:hover, .pagination > li > a, .cats-widget ul li:hover, .cats-widget ul li:hover a, .popular-post-inner ul li a:hover, .checkbox-star .star i, .help-widget h4 span, .hotel-review .hotel-review-ratting, .booking-form .icon-addon .glyphicon, .btn-pm, .contact-icon a:hover, .contact-content a, .categoty li a:hover, .widget_pages li a:hover, .footer-menu ul li a:hover, .home-ref blockquote .author, .team_text_inner p {
    color: #f6d014 !important;
}
.travel-times span {
    position: relative;
    top: 10px;
}





.vc_row[data-vc-full-width] {
    transition: opacity 0.5s ease;
    overflow: hidden;
}
.vc_custom_1500554425878 {
    padding-bottom: 70px !important;
    background-image: url('/website_tour_agency/static/src/img/home_header.jpg') !important;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.destination {
    padding: 70px 0px;
}
.destination {
    position: relative;
    background-image: url(../images/destination-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.vc_row::after, .vc_row::before {
    content: " ";
    display: table;
}
.destination::before {
    width: 100%;
    content: " ";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block !important;
    background-color: rgba(255, 255, 255, 0.8);
}
.vc_column_container {
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 768px)
.vc_col-sm-12 {
    width: 100%;
}
@media (min-width: 768px)
.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
    float: left;
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section, .vc_section.vc_section-has-fill + .vc_section {
    padding-top: 35px;
}
.vc_row.vc_row-no-padding .vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
}
.vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
.title {
    text-align: center;
    margin-bottom: 70px;
}
.title h2 {
    margin: 0 0 5px;
    text-align: center;
    font-weight: 800;
    color: #000;
    position: relative;
    z-index: 10;
}
.vc_row-no-padding .vc_inner {
    margin-left: 0px;
    margin-right: 0px;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.vc_row::after, .vc_row::before {
    content: " ";
    display: table;
}
.vc_column_container {
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 768px)
.vc_col-sm-12 {
    width: 100%;
}
.vc_row.vc_row-no-padding .vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
}
.vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
.destination .thm-padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.destination .thm-padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.thm-padding {
    padding: 0;
}
.destination-grid {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.destination-grid, .destination-grid .mask, .destination-grid .mask h2, .destination-grid .mask p, .destination-grid .dest-icon, .destination-grid .dest-icon i {
    -ms-transform: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transform: all 0.5s linear;
    -moz-transform: all 0.5s linear;
    transition: all 0.5s linear;
}
.destination-grid img {
    display: block;
    position: relative;
    transform: scaleY(1);
    transition: all .7s ease-in-out;
}

.destination-grid:hover h2, .destination-grid:hover p, .destination-grid:hover .thm-btn {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.destination-grid .mask p {
    margin: 0;
    color: #333;
    opacity: 0;
    font-size: 14px;
    transform: scale(0);
}


.destination-grid .mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}
.destination-grid .mask h2 {
    margin: 15px 0;
    transform: scale(0);
    color: #333;
    font-size: 25px;
    font-weight: 700;
}
.destination-grid .mask p {
    margin: 0;
    color: #333;
    opacity: 0;
    font-size: 14px;
    transform: scale(0);
}
.destination-grid .mask .thm-btn {
    margin-top: 15px;
    padding: 10px 20px;
    transform: scale(0);
    opacity: 0;
}
/* .get-offer:before, .panel-body, a.prev, a.next, .fs-pager-wrapper a, .fs-custom-pager-wrapper a, .fraction-slider .next:hover, .fraction-slider .prev:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .thm-btn, .btn-top, .region, .portfolio-sorting li a span, .pagination-inner .pager li > a, .pagination > li > a:hover, .pagination-inner .pagination > .active > a, .cats-title span, .ui.tag:hover, .separator, #tour-slide.owl-theme .owl-controls.clickable .owl-page:hover span, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #fec107 !important;
}*/
.thm-btn {
    padding: 12px 30px !important;
    color: #333 !important;
    font-weight: 700;
    font-size: 13px;
    border: 0 !important;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}
.thm-btn:before {
    content: '';
    position: absolute;
    border: white solid 3px;
    border-radius: 4px;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.destination-grid:hover .dest-name {
    opacity: 0;
}
.destination-grid .dest-name {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    text-align: right;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.destination-grid .dest-name h5 {
    margin: 0;
}
.destination-grid .dest-name h4 {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
}
.destination-grid:hover .dest-icon {
    background-image: none;
}
.destination-grid .dest-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    padding: 20px;
}
.destination-grid:hover .dest-icon i {
    color: #222;
}
.destination-grid .dest-icon i {
    color: #fff;
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
}
.fa-globe::before {
    content: "";
}
.disable_anchor_link{
    cursor: pointer;
    text-decoration: none !important;
    color: #797979d1 !important;
}

.grid-item-inner:hover .grid-price {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}
.grid-price {
    float: right;
    padding-top: 22px;
    font-weight: 700;
    padding: 15px;
    display: inline-block;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.small_box_h3{
    color:black;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    font-size: 16px;
}

.hotel-person {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}
.hotel-person span {
    display: block;
    font-size: 30px;
    margin: 15px 0px 13px 2px;
    font-weight: 700;
}
.price_hotel_detail_box{
    font-size: 19px;
    color: #fec107;
    font-weight: 700;
}

.destination-grid:hover .mask {
    background-color: #fff;
    box-shadow: none;
}
.destination-grid .mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.gal {


    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    display: inline-block;


    }
    .gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {

        .gal {


    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;


    }

    }

.fixed_carousel_height{
    display:block; height:450px !important; margin:0 auto 30px;
    }

div.text-container {
    margin: 0 auto;
}

.text-content{
    line-height: 150px;
}

.short-text {
    overflow: hidden;
    height: 14.5em;
}

.full-text{
    height: auto;
}

.show-more {
    padding: 10px 0;
}

/*====================FOR FACILITY ICONS */

div.text-container-facility {
    margin: 0 auto;
}

.text-content-facility{
    line-height: 150px;
}

.short-text-facility {
    overflow: hidden;
    height: 1.9em;
}

.full-text-facility{
    height: auto;
}

.show-more-facility {
    padding: 10px 0;
}













.hotel-item {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.03);
}

.btn, .hotel-item, .package-wiget, .blog-content h4 a, .pagination-inner .pager li > a, .pagination > li > a, .contact-icon a, .clients-thumb, .img-zoom-in img, .team_media a i, .categoty li a, .footer-menu ul li a, .social i {
    -ms-transform: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.hotel-item .hotel-image {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0;
    width: 25%;
    display: table-cell;
    min-width: 250px;
    min-height: 240px;
}

//.hotel-item .hotel-image::before {
//    content: '';
//    position: absolute;
//    z-index: 2;
//    top: 0;
//    right: -15%;
//    height: 100%;
//    width: 30%;
//    -webkit-transform: skew(15deg);
//    -moz-transform: skew(15deg);
//    -ms-transform: skew(15deg);
//    -o-transform: skew(15deg);
//    transform: skew(15deg);
//    background: #fff;
//}

.hotel-item .hotel-image .img {
    position: relative;
    z-index: 1;
    min-height: 240px;
}

//.hotel-item .hotel-image .img::before {
//    left: 0;
//    background: #ffc107;
//    opacity: 0;
//}
//.hotel-item .hotel-image .img::before, .hotel-item .hotel-image .img::after {
//    content: '';
//    z-index: 1;
//    top: 0;
//    height: 100%;
//    width: 100%;
//    position: absolute;
//    -webkit-transition: all 0.35s;
//    -moz-transition: all 0.35s;
//    -o-transition: all 0.35s;
//    transition: all 0.35s;
//}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}

//.hotel-item .hotel-image .img::after {
//    right: -90%;
//    opacity: 0.2;
//    background: #ffffff;
//    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -22%, 0);
//    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -22%, 0);
//    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -22%, 0);
//}
//.hotel-item .hotel-image .img::before, .hotel-item .hotel-image .img::after {
//    content: '';
//    z-index: 1;
//    top: 0;
//    height: 100%;
//    width: 100%;
//    position: absolute;
//    -webkit-transition: all 0.35s;
//    -moz-transition: all 0.35s;
//    -o-transition: all 0.35s;
//    transition: all 0.35s;
//}

.hotel-item .hotel-body {
    padding: 15px;
    width: 82%;
    display: table-cell;
    vertical-align: middle;
}

.hotel-item .hotel-body h3 {
    margin: 5px 0;
    font-weight: 700;
    font-size: 20px;
//    text-transform: uppercase;
    letter-spacing: 1px;
}
.page-content h3 {
    font-size: 26px;
    line-height: 25px;
    color: rgb(121, 121, 121);
    margin-top: 0;
    font-weight: 300;
}

.hotel-item .hotel-body p {
//    color: #bebebe;
    color: dimgray;
    font-size: 13px;
    line-height: 21px;
}

.hotel-right {
    width: 23%;
    text-align: center;
    background: #fff;
    padding: 15px;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #ddd;
}
.hotel-person {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}
.hotel-person span {
    display: block;
    font-size: 30px;
    margin: 15px 0px 13px 2px;
    font-weight: 700;
}
.hotel-item .thm-btn {
    margin-top: 20px;
}

//.thm-btn::before {
//    content: '';
//    position: absolute;
//    border: white solid 3px;
//    border-radius: 4px;
//    top: 3px;
//    left: 3px;
//    right: 3px;
//    bottom: 3px;
//    opacity: 0;
//    -webkit-transition-duration: 0.3s;
//    transition-duration: 0.3s;
//    -webkit-transition-property: opacity;
//    transition-property: opacity;
//}

//.get-offer::before, .panel-body, a.prev, a.next, .fs-pager-wrapper a, .fs-custom-pager-wrapper a, .fraction-slider .next:hover, .fraction-slider .prev:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .thm-btn, .btn-top, .region, .portfolio-sorting li a span, .pagination-inner .pager li > a, .pagination > li > a:hover, .pagination-inner .pagination > .active > a, .cats-title span, .ui.tag:hover, .separator, #tour-slide.owl-theme .owl-controls.clickable .owl-page:hover span, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
//    background-color: #fec107 !important;
//}

.detail_btn{
    background-color: #fec107 !important;
}

.thm-btn {
    padding: 12px 30px !important;
    color: #333 !important;
    font-weight: 700;
    font-size: 13px;
    border: 0 !important;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}



.custom_dialog {
  width: 80%;
  height: 80%;
  padding: 0;
}

.custom_content {
//  height: 100%;
  border-radius: 0;
}

.hotel_address h5{
    color: #666;
}
#map_single:hover{
    color:rgb(249,65,65);
    text-decoration: none;
    cursor: pointer;
}
.apply_v_btn{
    height: 40px;
    margin-top: 23px;
    background-color: rgb(249,65,65) !important;
    color: #fff !important;
}
.l_height{
    line-height: 25px;
}
.visa_apply_bg{
    background-color: #eee;
}
.visa_apply_header{
    height: 70vh;
    background-image: url('/website_tour_agency/static/src/img/visa_header.jpg');
}
.visa_header_cont{
    height:70vh;
    background-color: rgba(0,0,0,0.5);
}
.visa_header_text{
    color: rgb(254, 193, 7);
    font-family: Lora, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.bg_white{
    background-color: #fff;
}
.text_black{
    color:black;
}
.text_white{
    color:white;
}
.text_sub_gray{
    color:gray;
}
.get_call_btn{
    height: 40px;
    margin-top: 23px;
    background-color: rgb(249,65,65) !important;
    color: #fff !important;
}
.get_call_btn_color_white{
    color:white !important;
}
.need_h_block_par{
    color: #999;
    line-height: 25px;
}

.transport_header{
    height: 70vh;
    background-image: url('/website_tour_agency/static/src/img/transportation_header.jpg');
}
.trans_container{
    height:70vh;
    background-color: rgba(0,0,0,0.5);
}
.trans_text{
    color: rgb(254, 193, 7);
    font-family: Lora, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.social-links li {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}
.social-links li a {
    color:#888;
}
.social-links li a:hover {
    color:#f6d014;
}
.header_address a{
    color:#888 !important;
}
.header_address a:hover{
    color:#f6d014;
}
.header_address a i{
    color:#f6d014;
}
.icon_yellow_color{
    color: #f6d014;
}
.feture_div:hover .icon_yellow_color{
    color: rgb(156, 156, 148);
}
.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f6d014;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
}
.home_gen_btn{
    z-index: 8;
    min-width: 200px;
    max-width: 200px;
    font-size: 17px;
    line-height: 60px;
    font-weight: 400;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 109, 210);
    border-radius: 30px;
    outline: medium none currentcolor;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    margin: 0px;
    padding: 0px 50px !important;
    letter-spacing: 0px;
    min-height: 0px;
    max-height: none;
    filter: brightness(100%);
    opacity: 1;
    border-width: 0px;
}
.home_gen_btn:hover{
    background-color: #f6d014 !important;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: #f6d014;
    border: none;
    width: 58px;
    height: 58px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.back-to-top:hover{
    background-color: black;
}
#back-to-top span{
    color:white;
}
#back-to-top{
    margin-top:2em;
    border-radius: 100%;
}
.wlcm_section{
    height:100vh;
    background-image: url('/website_tour_agency/static/src/img/main_home_page.jpg');
}
.wlcm_sec_div{
    height:100vh;
    background-color: rgba(0,0,0,0.5);
}
.wlcm_small_text{
    color: #f6d014;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.span_big_txt{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.25px;
    text-transform: capitalize;
}
.big_h2_txt{
    z-index: 6;
    min-width: 800px;
    white-space: normal;
    font-size: 85px;
    line-height: 90px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px 10px 0px 0px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform-origin: 50% 50% 0px;
    transform: translate3d(0px, 0px, 0px);
}
.span_h4_txt{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.25px;
}
.h4_span_txt{
    color: rgba(255, 255, 255, 0.75);
}
.heading_h2 h2{
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px 0px 5px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.heading_sub_txt{
    color: rgb(51, 51, 51);
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 18.5714px;
}
.feture_span_txt span{
    color: rgb(158, 158, 158);
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 23px;
}
.popu_packg_div{
    position: relative;
    /*left: -61px;*/
    box-sizing: border-box;
    /*width: 1287px;*/
}


.form_booking {
    display: inline-block;
//    text-align: center;
    white-space: nowrap;
    width: 100%;
    /*height: 100%;*/
    position: relative;
}

.form_booking:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.v_form_div {
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
    border: 1px solid #DDD;
    border-radius: 5px;
    float: none;
    background-color: #FFF;
    opacity: 0.9;
}
.v_form_div input,
.v_form_div select,
.v_form_div textarea{
    background-color: transparent !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #CCC;
    border-radius: 0px;
//    color: #000;
//    font-size: 18px;
    font-weight: 300;
    transition: border-color 0.7s ease;
    box-shadow: none!important;
//  text-align: center;
}

.v_form_div select option {
    background-color: #95A5A6;
}

.v_form_div input:focus,
.v_form_div select:focus {
    border-bottom: 1px solid #e0953e;
    outline: 0 none;
}

.form-control {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
select.form-control {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}
.hotel .container-fluid .row .col-md-4{
  flex: 0;
  max-width: 100%;
}

.hotel .container-fluid .row .col-md-3 .cd-filter-block .a:not([href]):not([tabindex]) {
    text-decoration: none;
    color: white;
}}
#clear_fil {
  text-decoration: none;
    color: white;
}

/*=========================================================================fixes by chirag*/

/* header .navbar{
    background-color: transparent !important;
    border-color: transparent !important;
    padding-top: 15px;
    padding-bottom: 15px;
} */
@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
/* .navbar-light .navbar-nav .nav-link {
    color: #000;
} */
.footer_contact p, address {
    color: #000 !important;
}
/*@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}*/
.o_footer {
    background-color: #111111 !important;
    color: #fff;
}
.o_footer p, address, .text-muted {
    color: #b7b7b7 !important;
}

.o_footer .text-muted {
    color: #b7b7b7 !important;
}
