/* Copyright (c) 2019 by LittleSnippets.net (https://codepen.io/littlesnippets/pen/gaKvLZ) */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
div.package-card {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}
div.package-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
div.package-card img {
  max-width: 100%;
  vertical-align: top;
}
div.package-card figcaption {
  position: relative;
  background-color: #ffffff;
  padding: 0px 0px 20px;
}


div.why-package-card {
    font-family: "Raleway", Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 30px;
        min-width: 220px;
        max-width: 310px;
        width: 100%;
        color: #333;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
        background-color: #ffffff;
        padding: 45px;
}

.package_top-bar {
    text-align: center;
    margin: 10px;
    padding: 20px 15px;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: -1px 1px 6px -2px #aeaeae;
 }

 .package_top-bar span {
    font-size: 38px;
    margin-bottom: 0;
    display: inline-block;
    color: #FF9800 !important;
}
.package_top-bar p {
    margin-bottom: 0;
    font-size: 17px;
    text-transform: capitalize;
}
