<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Document Viewer PDF</h2>
            <h3 class="oe_slogan">View PDF format documents</h3>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot" style="max-height:none">
                <img src="main_screenshot.png"/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">PDF attachment viewer</h2>
        <h3 class="oe_slogan">Open a new modal window view</h3>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered" style="text-align:center">
                <img class="oe_demo oe_screenshot" src="document_viewer_pdf.png" style="display:inline"/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h3 class="oe_mt48 oe_slogan">Odoo/OpenERP Full Stack Customization and Development</h3>
            <div class="oe_mt32 oe_mb32 text-center">
                <a class="fa fa-eye" href="https://apps.odoo.com/apps/modules/browse?author=renjie%20%3Ci@renjie.me%3E" title="Works" target="_blank">Other Apps</a>
            </div>
            <div class="text-center">
                <a class="fa fa-envelope" href="mailto:i@renjie.me" title="Support">i@renjie.me</a>
            </div>
        </div>
        <div class="oe_span4">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://renjie.me" target="_blank">
                    <img src="icon.png" title="Renjie Technology">
                </a>
            </div>
        </div>
    </div>
</section>