/*======================== Header Style 5 =================================*/
/*------- Company Logo and Header Navbar -------*/
.navbar-collapse
{
	@include media-breakpoint-down(sm) 
	{
		background:nth($f_color,5);
	}
}	
.te_header_search
{
	button.oe_search_button
	{
		@include position(absolute,auto,0,auto,auto);
		z-index: 9;
	}
	input
	{
	//	border-radius: 25px !important;
	}
}
.te_header_navbar
{
	border-bottom:1px solid $border-color;
	border-top: 1px solid $border-color;
	background-color: nth($f_color,27) !important;
	
		& #top_menu
		{
			>li > a.nav-link 
			{
				text-transform: uppercase;
				@include style(3,3)
				padding: 0.8rem;
				margin: 0 2px;
				
				&:hover
				{
					color:nth($f_color,19);
				}
			}
			>li > a.nav-link.active
			{
				border-radius: 25px 0 25px 0;
				color:nth($f_color,19);
			}
		}
	@include media-breakpoint-down(md)
	{ 
		#top_menu{ 
			> li > a.nav-link{
					font-size:nth($f_sizes,3);
			}
		}
		.navbar-brand.logo img{
			max-height:50px !important;
		}
	}
	@include media-breakpoint-down(sm) 
	{ 
		#top_menu
		{ 
			.nav-link
			{
				padding: 0.5rem !important;
			}
			.nav-link.active
			{
				color:nth($f_color,19);
				background: nth($f_color,27) !important;
			}
		}
		.navbar-brand.logo img
		{
			max-height:40px !important;
		}
		.navbar-toggler
	    {
			border-color: rgba(0, 0, 0, 0.4) !important; 
		}
	}	
}
header .te_header_navbar .navbar-brand.logo img
{
	height: auto;
	max-height: 3.513rem;
}
.o_header_affix .te_header_navbar .navbar-brand.logo img
{
	height: 2.513rem;
}


/*------- Header Social Icon, Search Icon, Cart Icon, Wishlist Icon, User Icon ---------------------*/ 
.te_header_style_5_main
{
	@include media-breakpoint-down(md)
	{
		& .te_header_before_left{
			width: 55%;
			padding-left:0;
			& a{
				font-size:nth($f_sizes,3);
			}
		}
		& .te_header_before_right{
			width: 45%;
			padding-right:10px;
			& .te_header_5_search{
				& .oe_search_box{
					height: 35px;
				}
				& .oe_search_button{
					padding: 6px 15px;
				}
			}
			.te_header_5_search
			{
				.te_search_form_5_page
				{
					button
					{
						right: 5%;
					}
				}
			}
		}
		.te_header_social
		{
			display:none;
		}
	}
	@include media-breakpoint-down(sm) 
	{
		> .row
		{
			width: 100%;
			display: inline-block;
			margin: 0;
			padding: 0.5rem 0 !important;
		}
		.te_header_before_left {
		    width: auto;
		    float: left;
		    padding-right: 0;
		
			>div.px-1
			{
				padding: 0;
				border: 0;
			}
		}
		 .te_header_before_right 
		 {
		    width: auto;
		    float: right;
		    padding: 0;
		    @include position(initial)
		 	
		 	> div
		 	{
		 		padding: 0;
		 		border: 0;
		 	}
		 	.te_cart_icon_head, .te_wish_icon_head, .te_bar_icon
			{
		 		a
		 		{
		 			padding: 0 4px;
		 			font-size: nth($f_sizes,2);
		 			
		 			sup
		 			{
		 				padding: 3px 5px;
		 			}
		 		}
			}
		 	.te_search_icon_header,.te_user_account
		 	{	
		 		> a
		 		{
		 			font-size: nth($f_sizes,2) !important;
		 			padding: 0 4px !important;
		 		}
		 	}
		 	.te_search_form_5_page
		 	{
		 		width: 90%;
		 	}
		}
	}
}
.te_header_before_left
{
	> div
	{
			display: inline-block;
			vertical-align: middle;
			
		a,.btn-link
		{
			@include style(3,3);
			margin-left: 0;
		}
		.dropdown-toggle
		{
			text-transform:capitalize;
			padding: 0 0.375rem;
			@include media-breakpoint-down(sm)
			{
				padding: 0;
			}
		}
	}
	> div.px-1
	{
		border-left:1px solid $border-color;
		padding: 0.7rem 0;
		
		&:last-child
		{
			border-right:1px solid $border-color !important;
			@include media-breakpoint-down(sm)
			{
				border-right:0 !important;
			}
		}
	}
	.h5_pricelist .dropdown-menu
	{
		left:auto !important;
		right:0;
	}
	.te_header_language
	{
		a
		{
			&:hover
			{
				color:nth($f_color,3);
			}
		}
	}
}
.te_header_before_right
{
	text-align: right;
	>div
	{
		display: inline-block;
		padding: 0.7rem 0;
		border-right:1px solid $border-color; 
	}
	.te_cart_icon_head, .te_wish_icon_head
	{
		display:inline-block;
		a{
			padding: 0 12px;
			@include position(relative);
			display:inline-block !important;
			@include style(7,3);
			sup
			{
				@include border-radius(12px);
				width: auto;
				padding: 4px 6px;
				vertical-align: top;
				font-size: nth($f_sizes,9);
				//@include position(absolute, -15px, 11px);
				display: inline-block !important;
			}
			i
			{
				display: inline-block !important;
			}
		}
	}
	.te_header_5_search
	{
		border-left: 1px solid $border-color;
		.te_search_icon_header
		{
			a
			{
				padding: 0 12px;
				@include style(7,3);
			}
		}
		.te_search_5_form
		{
			@include position(fixed,0,auto,auto,0);
			width: 100%;
			background: nth($f_color,5);
			z-index: 999;
			display: block;
			@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.08))
			visibility:hidden;
			transform: translate3d(0, -100%, 0);
			@include transition(all, 0.3s, linear);
			
			&.open_search
			{
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
			.te_btn_5_close
			{
				@include style(12,6)
				display: block;
				@include position(absolute,18%,10%);
				z-index: 5;			
				opacity: 1;
				i
				{
					&:before
					{
						content: '\00d7';
					}
				}
			}
			.te_search_form_5_page
			{
				padding-top: 20px;
				padding-bottom: 20px;
				@include position(relative); 
				
				.te_5_text
				{
					text-align: left;
					color: nth($f_color,6);
				}
				form
				{
					@include position(relative);
					display: block;
				
					.te_search_5_input
					{
						background: nth($f_color,27);
						@include style(19,6,inherit,unset,capitalize);
						padding: 10px 0px;
						outline: none;
						width: 100%;
						margin-top: 12px;
						@include border-radius(0);
						border: 0;
						border-bottom: 1px solid $border-color;
					}
					button
					{
						@include position(absolute,auto,5%,0);
						cursor: pointer;
						padding: 5px;
						display: inline-block;
						background: none;
						border: none;
						@include style(19,6);
					}
				}
			}
		}
	}
	.te_header_account
	{
		.te_user_account, .te_signin
		{
			>a
			{
				padding: 0 12px;
				@include style(7,3);
				
				.te_user_account_icon
				{
					display: inline-block;
				}
			}
		}
	}
	.te_bar_icon
	{
		a
		{
			padding: 0 12px;
			@include style(7,3);
		}
	}
}
.te_header_social
{
	a
	{
		border-left:1px solid $border-color !important;
		padding: 0.7rem 0.675rem;
	}
}
