
<section class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="mt32" style="font-size:18px">
                This is the tool to remind responsible users of tasks which deadline is today or which deadline has already passed
            </p>

            <p class="mt8" style="font-size:18px">
                The tool is compatible

                <span>with both Odoo Enterprise and Odoo Community.</span>
            </p>

            <ul class="nav nav-tabs">

            <li class="active" style="color:#428bca;">
                <a href="#features"
                   data-toggle="tab"
                   aria-expanded="true"
                >
                   Features
                </a>
            </li>


                <li>
                    <a href="#screenshots"
                       data-toggle="tab"
                       aria-expanded="true"
                    >
                       Screenshots
                    </a>
                </li>

                <li style="color:#428bca;">
                    <a href="#config"
                       data-toggle="tab"
                       aria-expanded="true"
                    >
                       Configuration
                    </a>
                </li>

            <li style="color:#428bca;">
                <a href="#support_info"
                   data-toggle="tab"
                   aria-expanded="true"
                >
                   Support

                   <span>&amp; Demo</span>

                </a>
            </li>

            </ul>


            <div class="tab-content mt16">

                <div class="tab-pane active" id="features">

                    <div class="alert alert-info">
                        <span style="font-size:18px">

                            <i class="fa fa-info-circle"> </i>

                            Configure your own single-list reminders for any Odoo records using <a href="https://apps.odoo.com/apps/modules/12.0/total_notify/">the tool All-In-One Lists Reminders</a>
                        </span>
                    </div>

                    <div class="alert alert-warning">
                        <span style="font-size:18px">

                            <i class="fa fa-book"> </i>

                            Some email clients / browser might partially spoil the table appearance
                        </span>
                    </div>

                    <p class="mt32">

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                The tool gathers all tasks which should be done urgently: today or in the Past
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                The reminder is sent <strong>for each assigned user</strong> if he/she has such tasks 
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Notification is done as a <strong>single</strong> email with all tasks combined in the table. Each line has a link for an instant access. No dozens useless emails
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Only up-to-date tasks are included into the reminder. Choose project stages on which tasks should be taken into account
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                A reminder is sent once per day, but you can change it. Look at the 'Configuration' tab
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                You may also modify email appearance and set. Look at the 'Configuration' tab
                            </span>
                        </div>

                    </p>

                    <div class="alert alert-warning">
                        <span style="font-size:18px">
                            <i class="fa fa-book"/>
                            The module features depend on your Odoo version.
                            Please select required one on the top right of this page
                        </span>
                    </div>

                        <div class="row col-md-12">
                            <a name="recommended_odoo_apps"><h3>You may like the tools</h3></a>
                        </div>


                        <div class="row mb8">

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/task_checklist">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_1.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/task_checklist">
                                        <span style="font-size:16px">Task Check List and Approval Process</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to make sure required jobs are carefully done on this task stage</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 28
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/task_numbers">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_2.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/task_numbers">
                                        <span style="font-size:16px">Task Auto Numbering and Search</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to quickly access and simply reference tasks by automatic numbers</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 28
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/project_custom_fields">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_3.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/project_custom_fields">
                                        <span style="font-size:16px">Custom Fields for Projects</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to add new fields for Odoo projects without any technical knowledge</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 38
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/task_custom_fields">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_4.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/task_custom_fields">
                                        <span style="font-size:16px">Custom Fields for Tasks</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to add new fields for Odoo project tasks without any technical knowledge</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 38
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/knowsystem">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_5.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/knowsystem">
                                        <span style="font-size:16px">KnowSystem</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to build deep and structured knowledge base for internal and external use</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 228
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/owncloud_odoo">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_6.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/owncloud_odoo">
                                        <span style="font-size:16px">OwnCloud / NextCloud Odoo Integration</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with OwnCloud / NextCloud files in both ways</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 394
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/google_drive_odoo">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_7.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/google_drive_odoo">
                                        <span style="font-size:16px">Google Drive Odoo Integration</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 394
                                        </span>

                                    </strong>
                                </div>

                            </div>

                            <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                                <div class="col-md-3 mt8">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/onedrive">
                                        <img class="img img-responsive icon_module"
                                             src="app_icon_8.png"
                                             alt="Odoo Recommended App"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://apps.odoo.com/apps/modules/12.0/onedrive">
                                        <span style="font-size:16px">OneDrive / SharePoint Odoo Integration</span>
                                    </a>
                                    <p class="mt0 mb0">
                                        <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with OneDrive files in both ways</span>
                                    </p>
                                    <strong class="pull-right">
                                        <span style="font-size:14px;margin-left:5px;">
                                            € 394
                                        </span>

                                    </strong>
                                </div>

                            </div>

                        </div>
                    <div class="col-md-12 mb8 text-center">
                        <span style="font-size:22px;">
                            <a href="https://apps.odoo.com/apps/modules/browse?author=Odoo%20Tools">
                                <i class="fa fa-arrow-right"> More Apps by Odoo Tools</i>
                            </a>
                        </span>
                    </div>

                </div>


                <div class="tab-pane" id="screenshots">

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            All tasks are combined in a single to-do list
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Odoo Project reminder"
                             src="first.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Choose stages for notifications: remind only of topical tasks
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Project stages for reminder"
                             src="stage.png"
                        />
                    </div>

                </div>

                <div class="tab-pane" id="config">

                        <div class="mb8">

                            <h3>If a user doesn't receive reminders</h3>
                            <span style="font-size:18px">
                                <ul>
<li>Check his/her preferences. Is it configured here to receive all email notifications from Odoo?</li>
<li>Check that project stages are configured. Do a user have any tasks with broken/today deadlines on those stages?</li>
</ul>
                            </span>

                        </div>

                        <div class="mb8">

                            <h3>To change reminders' appearance</h3>
                            <span style="font-size:18px">
                                <ol>
<li> Turn on the debug mode (technical features)</li>
<li>Go to the Odoo technical settings > Email > Templates </li>
<li>Find one with the name 'Tasks Daily Reminder'</li> 
</ol>
Here you might change:
<ul>
<li>Reminder subject</li>
<li>Reminder styles</li>
<li>Reminder columns</li>
<li>Introduce translations</li>
</ul>
However, <strong>be cautious</strong> with dynamic expressions. They have very rigid requirements. Have you broken everything? No problem: delete this template and update the module 
                            </span>

                        </div>

                            <div class="col-md-12 mb32 alert alert-success">
                                 <span style="font-size:18px">
                                    Reminder email template to modify
                                 </span>
                            </div>
                            <div class="col-md-12 mb32">
                                <img class="img img-responsive shadow"
                                     alt="Odoo CRm daily reminder email template"
                                     src="template.png"
                                />
                            </div>

                        <div class="mb8">

                            <h3>To change time or frequency of reminders</h3>
                            <span style="font-size:18px">
                                <ol>
<li>Turn on the debug mode (technical features)</li>
<li>Go to the Odoo technical settings > Automation > Scheduled Actions</li>
<li>Find one with the name 'Notify users about overdue tasks'</li> 
</ol>
You are welcome to change the interval or the next date of the job 
                            </span>

                        </div>

                </div>

                <div class="tab-pane" id="support_info">

                    <div class="col-md-12">
                        <p style="font-size:18px;">
                            <a href="https://odootools.com/">OdooTools</a> is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed.  We are open for new ideas and challenges to create the best Odoo tools for business needs all over the world.
                        </p>

                        <p style="font-size:18px;">
                            This tool has been developed in cooperation with <a href="https://itlibertas.com/">IT Libertas</a> - one of the leading Odoo
                            integrators in Russia.
                        </p>

                    </div>

                    <div class="col-md-12 mb4 alert alert-success">
                         <span style="font-size:18px">
                            To contact us please register in our support system. Registration form is available by any link below. Registration doesn't take more than 30 seconds. No phone number or credit card are required
                         </span>
                    </div>

                    <div class="col-md-12"
                         style="background-color:#339966; padding:2%;"
                    >
                        <div style="font-size:25px;" class="text-center">
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_44&amp;x_custom_2=x_option_2&amp;url_type_id=1"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bug" style="color:white;"/> Bug Report
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_44&amp;x_custom_2=x_option_2&amp;url_type_id=4"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-info-circle" style="color:white;"/> Raise Question
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_44&amp;x_custom_2=x_option_2&amp;url_type_id=2"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bookmark" style="color:white;"/> New Features
                            </a>
                        </div>
                        <div style="font-size:25px"  class="text-center">

                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_44&amp;x_custom_2=x_option_2&amp;url_type_id=3&amp;name=Demo Database for Testing"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-laptop" style="color:white;"/>  Request Demo Database (Live Preview)
                            </a>

                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_44&amp;x_custom_2=x_option_2&amp;url_type_id=5"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-lightbulb-o" style="color:white;"/>  Share Module Ideas
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

                