<section class="oe_container" style="background:#dcdcdc;">
    <div class="oe_row">
        <div class="text-justify" style="padding-top:2px;padding-bottom:2px">
            <h4 class="oe_slogan" style="color:#875A7B;font-size:40px;font-family:times new roman;margin-top:20px;margin-bottom:20px;">
                <span>
                    Website Tour Agency
                </span>
            </h4>
            <div class="oe_span12" style="text-align:center;">
                <p style="font-size:25px;margin-right:40px;margin-bottom:20px;color:black;font-weight:bold;margin-left:10px;font-family:Times New Roman;">
                    This module provides the functionality to plan tour for a group
                </p>
            </div>
        </div>
        <table style="margin:35px 35px 20px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            HomePage
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page1.png">
            <img style="margin-top:-16px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page2.png">
            <img style="margin-top:-16px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page3.png">
            <img style="margin-top:-16px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page4.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            By clicking on the PACKAGES, you can see Packages
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page5.png">
            <img style="margin-top:-16px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page6.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            By clicking on particular Packages, you can see the details of that Package.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page7.png">
            <img style="margin-top:-16px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page8.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Book the Package from "Book Now" Button, by clicking on button the form will open in which you have to fill your detail.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page9.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page10.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Submit you detail from "Get A Call" Button, by clicking on the button your message has been sent.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page11.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            By clicking on the HOTELS, you can see Hotels
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can also have the Filters, thorugh which you can filter hotel as per your wish.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page12.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page13.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page14.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            By clicking on "Apply" Button, you can get the hotels as per your filtered options.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page17.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            By clicking on "Details", you can see the details of that Hotel.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page18.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page19.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Book the Hotel from "Book Now" Button, by clicking on button the form will open in which you have to fill your detail.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page20.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page21.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Submit you detail from "Get A Call" Button, by clicking on the button your message has been sent.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page11.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            By clicking on the VISA, you can see Visa.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page22.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Book the Hotel from "Apply For Visa" Button, by clicking on button the form will open in which you have to fill your detail.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page23.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page24.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Submit you detail from "Get A Call" Button, by clicking on the button your message has been sent.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page11.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:10px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can contact us by clicking on "CONTACT US".
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page25.png">
            <img style="margin-top:0px;"  width="100%" class="img img-responsive oe_screenshot center-block"  src="page26.png">
        </div>
        <table style="margin:35px 35px 0px 30px;">
            <tbody>
                <tr>
                    <td>
                        <span class="fa fa-hand-o-right fa-2x" style="padding-bottom:30px;color:#875A7B;"/>
                    </td>
                    <td>
                        <p style="color:black;font-size:18px;text-align:justify;margin-right:40px;margin-left:10px;font-family:Times New Roman;">
                            You can Submit you detail from "Get A Call" Button, by clicking on the button your message has been sent.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="oe_span12 oe_mt32 text-center" style="margin-bottom:50px;">
            <img  width="100%" class="img img-responsive oe_screenshot center-block" src="page11.png">
        </div>
    </div>
</section>
