<div id="wrap" class="oe_structure oe_empty">
    <section class="s_text_image">
        <div class="container">
          <div class="row">
              <h4 >This module for Odoo Community Edition</h3>
            <h3>
              <font style="" class="text-gray-darker">DEMO: <a href="http://demo.appstg.com/web">http://demo.appstg.com</a>, LOGIN demo PASSWORD demo </font>
              <p>
                <font style="font-size: 14px;">The basic cost is a <a href="https://apps.odoo.com/apps/modules/12.0/ba_web_gantt/">framework</a>, and this module free</font>
              </p>
            </h3>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt64 mb32">
              <h3 style="text-align: center;">Add Gantt view in Project<br/></h3>
              <p style="text-align: left;">To see this, please click the link above.</p>
              <p style="text-align: left;">Dynamic chart. It is possible to move terms and also to open tasks directly on the chart. Shows dependences between tasks and subtasks. Terms taking into account date and time.<br/></p>
              <p style="text-align: left;">
                <br/>
              </p>
              <p style="text-align: left;">
                <br/>
              </p>
            </div>
            <div class="col-md-6 mt32 mb32">
              <img class="img img-responsive pull-left mb16" src="banner.jpg" alt="" data-original-title="" title="" style="transform: translateX(-2.4%) translateY(-15.4%) scaleX(0.81) scaleY(0.72);"/>
            </div>
          </div>
        </div>
      </section>
      <section class="s_image_text">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt32 mb32">
              <img class="img img-responsive center-block mb16" src="need_help.jpg" alt="Odoo изображение и текстовый блок"/>
            </div>
            <div class="col-md-6 mt64 mb32">
              <h3>Need help or development?</h3>
              <h3>
                <br/>
              </h3>
              <p>
                <i>
                        Contact us: </i>
                <b>info@appstg.com</b>
              </p>
              <p>
                <br/>
              </p>
            </div>
          </div>
        </div>
      </section>
</div>