.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
    vertical-align:middle;
	padding: 3px 4px;
	text-align: center;
}
.divTableHead {
	border: 1px solid #999999;
	display: table-cell;
    vertical-align:middle;
	padding: 3px 10px;
    font-weight: bold;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.stepTop label{
    width:30%;
    display:inline-block;
    padding-right:10px;
    min-height:32px;
    color: #095a0d;
}
.stepTop .stepLabelFor{
    width:40%;
    display:inline-block;
    position:relative;
}
.stepTop .stepLabelForBig{
    width:65%;
    display:inline-block;
    position:relative;
    font-size: 150%;
}
.stepTop select{
    width: 100%;
    padding: 7px;
    border-color: #c9c9de;
    background-color: #f7f7f7!important;
}
.stepTop input[type=text]{
    width: 100%;
    padding: 7px;
    border-color: #c9c9de;
    background-color: #f7f7f7!important;
    
}
.stepTop .o_dropdown_button{
    top: 6px!important;
    right: 6px!important;
}
.stepTop .o_form_field_many2one {
    width: 100%!important;
}
.stepTop .o_form_field_number{
    width: 100%;
    padding: 7px 8px;
    border: 1px solid #c9c9de;
    border-radius:4px;
    background-color: #f7f7f7!important;
    display:block;
}
.stepTop .fieldNone{
    position:absolute;
    z-index:999;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
#ozet .stepLabelFor{
    font-size:18px;
    width:50%;
}
#ozet label {
    width: 30%;
    min-height: 22px;
    font-size: 14px;
    border-bottom: 1px solid #fff;

}

.editFormView .o_edit_form_view {
    width: 100%;
    padding: 7px 8px;
    border-bottom: 1px solid #ddddef;
    display: block;
    color: #76769e;
    }
.editFormView .o_edit_form_view strong{
    width:28%;
    display:inline-block;
}
.editFormView .o_edit_form_view b{
    width:2%;
    display:inline-block;
}
.editFormView .o_edit_form_view span{
    width:70%;
    display:inline-block;
}

body.o_web_client #slider_strip {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 0;
    left: 170px;
    border-radius: 4px 0 0 4px;
    background-color: #9b9ac1;
    cursor: pointer;
    z-index: 100;
}

.text-color-hotpink{
    color:#F5A9D0;
}
.text-color-primary{
    color:#7c7bad;
}
.text-color-yellow{
    color:#f0ad4e;
}
.text-color-green{
    color:#5cb85c;
}
.text-color-red{
    color:#d9534f;
}
.text-color-info{
    color:#17a2b8;
}
.text-color-orange{
    color:#d67422;
}
.text-color-pink{
    color:#c13776;
}
.text-color-purple{
    color:#994aad;
}
.text-color-teal{
    color:rgb(121, 82, 185);
}
.text-color-indigo{
    color:#672aca;
}
.text-color-cyan{
    color:#13889a;
}
.text-color-hotred{
    color:#DF0101;
}
.text-color-sairs{
    color:rgb(141, 165, 72);
}
.text-color-lightblue{
    color:#08C5E7;
}
.text-color-lightred{
    color:#d9534f;
}
.text-color-lightgreen{
    color:#5cb85c;
}
.text-color-lightpurple{
    color:#BA55D3;
}
.text-color-lightpurple2{
    color:#DA1711;
}
.text-color-videoizle{
    color:#d67422;
}
.text-color-docizle{
    color:#c13776;
}
.bg-color-docizle{
    background-color:#c13776;
    border-left:#c13776!important;
    text-align:center;
    color:#fff;
}
.bg-color-videoizle{
    background-color:#d67422;
    border-left:#d67422!important;
    text-align:center;
    color:#fff;
}
.bg-color-hotpink{
    background-color:#F5A9D0;
    border-left:#F5A9D0!important;
    text-align:center;
    color:#fff;
}
.bg-color-hotred{
    background-color:#DF0101;
    border-left:#DF0101!important;
    text-align:center;
    color:#fff;
}
.bg-color-mediumred{
    background-color:#DA1711;
    border-left:#DA1711!important;
    text-align:center;
    color:#fff;
}
.bg-color-primary{
    background-color:#7c7bad;
    border-left:#7c7bad!important;
    text-align:center;
    color:#fff;
}
.bg-color-yellow{
    background-color:#f0ad4e;
    border-left:#f0ad4e!important;
    text-align:center;
    color:#fff;
}
.bg-color-green{
    background-color:#5cb85c;
    border-left:#5cb85c!important;
    text-align:center;
    color:#fff;
}
.bg-color-red{
    background-color:#d9534f;
    border-left:#d9534f!important;
    text-align:center;
    color:#fff;
}
.bg-color-info{
    background-color:#17a2b8;
    border-left:#17a2b8!important;
    text-align:center;
    color:#fff;
}
.bg-color-orange{
    background-color:#d67422;
    border-left:#d67422!important;
    text-align:center;
    color:#fff;
}
.bg-color-pink{
    background-color:#c13776;
    border-left:#c13776!important;
    text-align:center;
    color:#fff;
}
.bg-color-purple{
    background-color:#994aad;
    border-left:#994aad!important;
    text-align:center;
    color:#fff;
}
.bg-color-teal{
    background-color:rgb(121, 82, 185);
    border-left:rgb(121, 82, 185)!important;
    text-align:center;
    color:#fff;
}
.bg-color-indigo{
    background-color:#672aca;
    border-left:#672aca!important;
    text-align:center;
    color:#fff;
}
.bg-color-cyan{
    background-color:#13889a;
    border-left:#13889a!important;
    text-align:center;
    color:#fff;
}
.bg-color-sairs{
    background-color:rgb(141, 165, 72);
    border-left:rgb(141, 165, 72)!important;
    text-align:center;
    color:#fff;
}
.bg-color-lightblue{
    background-color:#08C5E7;
    border-left:#08C5E7!important;
    text-align:center;
    color:#fff;
}
.bg-color-lightred{
    background-color:#d9534f;
    border-left:#d9534f!important;
    text-align:center;
    color:#fff;
}
.bg-color-lightgreen{
    background-color:#5cb85c;
    border-left:#5cb85c!important;
    text-align:center;
    color:#fff;
}
.bg-color-lightpurple{
    background-color:#BA55D3;
    border-left:#BA55D3!important;
    text-align:center;
    color:#fff;
}

.divLabel label{
    font-weight: bold !important;
}

.btn-new{
    padding:5px 3px;
}
.btn_txt{
    color: #fff !important;
    background: #7c7bad !important;
    border-radius: 3px !important;
    padding: 3px 7px !important;
}
.imgTumb img{
    height: 120px !important;
}

.panel-heading .huge {
    font-size: 26px;
}
.panel-heading span h4{
    font-size: 16px;
    line-height: 1.3;
    height: 32px;
}
.checkbox label:after{
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #095a0d;
  border-radius: .25em;
  width: 1.5em;
  height: 1.5em;
  float: left;
  background: #fff;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  top: 20%;
  left:20%;
  line-height: normal;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}
.border_payment {
    padding:10px;
    margin-left:20px;
    margin-right:20px;
    border:1px solid #c9c9de;
    border-radius: 15px 15px 15px 15px;
    
}
.o_list_button {
  text-align:center !important ;
}
.oe_login_form{
    padding:30px;
    border: solid 1px #EE5225;
    border-radius: 5px;
}

  .divider {
    border-left: 1px solid #797e84 !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    height: 1.2em !important;
  }
