
/*.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #5F5E97 !important;
}*/
.table-striped > tbody > tr:hover {
  background-color: #DAD9F5 !important;
  color: #5F5E97 !important;
}
.video_loading {
  background: #ECF0F1 url(/info_helpdesk/static/img/loading.gif) center center no-repeat;
  background-size: 320px 180px;
}
#playlist {
    display:table;
}
#playlist li{
    cursor:pointer;
}

#videoarea {
    float:left;
    width: 100%;
    margin:10px;    
    background: black;
    max-height: calc(100vh - 300px);
}

.list-numbered {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
  margin-top:9px;
  height: calc(100vh - 300px);
  overflow: auto;
  background: black;
  color:white;
}

.list-numbered > li {
  position: relative;
  margin-bottom: 1.5em;
}
.list-numbered > li:hover {
  color:yellow;
}
.list-numbered > li:before {
	position: absolute;
	left: -2.25em;
	display: inline-block;
  width: 22px;
	height: 22px;
	margin-right: 0.5em;
  background-color: #5F5E97;
	border-radius: 50%;
	color: #fff;
	text-align:center !important;
  line-height: 1.9em;
	counter-increment: line;
	content: counter(line);
}