$screen-xs-max: 767px;

@mixin o_hide(){
    display: none;
}
@mixin o_show(){
    display: block;
}
.oe_view_manager_current .oe_cu_add_item{
    @include o_hide;
}
.oe_view_manager_current .results tfoot .oe_cu_own_footer{
    @include o_hide;
}
.o_dashboard.global_search_dashboard{
    .results tfoot .oe_cu_own_footer{
        display: table-row;
    }
    .results tfoot .oe_cu_base_footer{
        @include o_hide;
    }
}
.o_dashboard{
    .dashboard_title{
        padding: 10px 0;
    }
}
.o_dashboard.global_search_dashboard{
    .dashboard_title, .oe_dashboard_links{
        @include o_hide;
    }
}
.oe-global-autocomplete{
    position: fixed;
    width: 300px;
    border: 1px solid rgb(175, 175, 182);
    z-index: 666;
    cursor: default;
    max-height: 400px;
    overflow-y: auto;
    display: none;
    background-color: white;
    > ul{
        list-style-type: none;
        margin: 5px 0px;
        padding-left: 0;
        width: 100%;
        color: black;
        > li{
            padding-left: 10px;
            text-shadow: 0 0 0 white;
        }
        > li.oe-selection-focus{
            background-color: #F5F5F5;
            cursor: pointer;
        }
        > li.oe-indent{
            padding-left: 35px;
        }
        > li > span.oe-extend{
            cursor: pointer;
        }
    }
}
.global-search{
    border: none;
    border-bottom: 1px solid #cfcfcf;
    background-color: transparent;
    color: #FFF;
    display: block;
    margin: 12px 0px 2px 0px;
    padding-left: 2px;
}
.global-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}
.global-search::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
.global-search:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
.global-search:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}
.cu_search{
    display: block;
    padding: 10px 4px;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    cursor: pointer;
}
.cu_close{
    display: none;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    cursor: pointer;
}
.mb0{
    margin-bottom: 0 !important;
}

/*.o_main_navbar > ul > li{
    display: inline-block;
    float: none;
    text-align:left;
}*/
body.o_web_client{
    .o_main_navbar{
        .o_menu_systray{
            .ad-globle{
                & > input{
                    padding-right: 20px;
                }
                .oe-global-autocomplete{
                    position: absolute;
                    top: 50px;
                    left: 0;
                    & > ul{
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-xs-max){
    body.o_web_client{
        .o_main_navbar{
            .o_menu_systray{
                .ad-globle{
                    width: 50%;
                    .oe-global-autocomplete{
                        left: 40px;
                        position: fixed;
                        right: auto;
                    }
                }
            }
        }
    }
}
