<section class="oe_container lead bi_title_box">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan bi_title" style="color:#49a3fe;">
                <b>Customer/Supplier Statement and Customer Overdue Payments Reports With Automatic Email Send Feature.</b>
            </h2>
            <p class="oe_slogan">
        Customer and Supplier Statement and Customer Overdue Payments offers you to view customers or suppliers statements with overdue invoices details and generate overdue payment reports also helps you to send statements and overdue payment reports by email to your customers/suppliers with automatic email send feature. 
</h3>
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: #201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
        </div>
        <div class="oe_span6">
            
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/state1.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Account Statements of customers and suppliers.</b></h4>
                    <span class="oe_slogan">Accounting User/Accountant can view and print account statements of customers and suppliers.</span>
                </div>
            </div>

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/state2.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Sends statement through email.</b></h4>
                    <span class="oe_slogan">Accounting User/Accountant can send Statements of customers and suppliers by email.</span>
                </div>
            </div>
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/state3.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Sends overdue payment report to customers.</b></h4>
                    <span class="oe_slogan">Accounting User/Accountant can send overdue payment report to customers.</span>
                </div>
            </div>
            </div> 
        <div class="oe_span6"> 

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/state4.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Statement filter by Date</b></h4>
                    <span class="oe_slogan">When there are large records on statement modules provide that feature to filter statement by date.Also Allow to Print it .</span>
                </div>
            </div>

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/state5.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Partner wise Ledger Report.</b></h4>
                    <span class="oe_slogan">As this module also provide feature to print Partner Ledger Report for single partner.</span>
                </div>
            </div> 

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/state6.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Send automatically customer statement.</b></h4>
                    <span class="oe_slogan">You can send customer statement and customer overdue statement to your customers on a specific date of month. You can also set customer statement period as monthly or complete statement. </span>
                </div>
            </div>     
       
        </div>
    </div>
</section>

           
<section class="oe_container lead mt64">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 mr8" title="Website" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/contact-us/" target="_blank"> Demo Request </a>
            <a class="btn mt8 ml8" title="Email on Support" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://www.youtube.com/watch?v=NmmgHMBYNJs&feature=youtu.be" target="_blank"> Video Tutorial</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement</p>
        <p class="oe_slogan">Customer and Vendor Statement Tab has been added on Customer and Vendor Form by this app. Also you can see total "Overdue Balance" and "Total Overdue Amount" shown under image.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="customer_main.png">
        </div>
    </div>
</section>



<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer invoices can be seen in list view</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="customer_invoices.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Print Customer Statement Report</p>
        <p class="oe_slogan">Accounting User/Accountant can also able print statements of customers and suppliers by "Print Statement Button".</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="cus_state_button.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement Report can be seen.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="customer_statement_report_new.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Supplier Statement</p>
        <p class="oe_slogan" >Accounting User/Accountant can also able print Statements of customers and suppliers by "Print Statement Button".</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="vendor_button_statement.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan">Supplier Statement Report can be seen</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="vendor_report_statement_new.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Statement Filter By dates</p>
            <p class="oe_slogan">When there are many lines on statements then we provide extra feature to filter statement by date to see statement for certain selected period and easily print it for selected date range,This also print balance overdue and total amount overdue for selected date range. </p>

            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement Report With Date Filter</p>
            <br/>

        <p class="oe_slogan">When you click on "Get statement" after applied the filter it will provide statement details for selected date range as shown in image.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="customer_filter_buttons.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement Report with date filter.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="filter_statement_report.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Vendor Statement Report With date filter</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="vendor_filter_by_dates.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Vendor Statement Report can be seen with date filter.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="vendor_report_statement_new.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">There is a filter to find customer who have the "Total Overdue Amount" more than zero</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="Customers_overdue_filter.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Print and sending Customer Overdue Statement</p>
            <br/>
        <p class="oe_slogan" >Accounting User/Accountant can easily send Overdue Statements of customers and suppliers by email send statement button.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="print_overdue.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Overdue Statement Report</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="payment_overdue_report.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">You can also print statement report from here.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="second_option.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Send Mail Automatically.</p>
            <br/>
        <p class="oe_slogan">When you tick "Send Customer Statement" in invoice setting you can set date for when customer statement will be send to all customer and you can set period also like if monthly period is set than system will automatically send statement of last month and if All option is select than system will send customer statement till date. When you tick "Send Overdue Customer Statement" in invoice setting you can set date for when customer overdue statement will be send to all customer.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="invoice_Setting.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Sending Customer Overdue Statement Report</p>
            <br/>
        <p class="oe_slogan">When customer overdue payment has been sent it will be sent using following content on email also its attached overdue payment report with emails<</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="overdue_print_btn.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Overdue Statement Report send through email</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="mail_2.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">There is a filter to find customer who have the "Total Overdue Amount" more than zero</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="Customers_overdue_filter.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">You can send Customer Overdue Statement Report to these Customers.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="Customers_filter_send_due.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Sending Customer Statement Report</p>
        <p class="oe_slogan">Accounting User/Accountant can easily send statements of customers and suppliers by email "Send Statement" button.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="print_cust_send_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan">Accounting User/Accountant can easily see statement in send filter statement.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="improved_send.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Statement sent via Mail</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="send_one_mail.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Filter Customer Statement sent via Mail</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="email_filter.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Figure shows the menu for invoice outstanding report.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="outstanding_menu.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Invoice Outstanding Report Wizard</p>
            <br/>
        <p class="oe_slogan">In this wizard you have to select journal for invoices, select start date and end date for Outstanding Report.You can print XLS report as well as PDF Outstanding report.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="outstanding_wizard.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Print Excel Report</p>
            <br/>
        <p class="oe_slogan">By click on Print Excel button you can see the wizard from which you can download the excel report.You can download outstanding Invoice report from here.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="print_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Excel Outstanding Invoice Report can be seen.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="xls_report.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Print PDF Report</p>
        <p class="oe_slogan">By click on Print PDF button you can see PDF Outstanding Invoice Report will be printed.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="print_pdf_button.png">
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Apps May You Like</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_all_in_one_accounting_report/">
                <img class="img img-responsive" src="related/1.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/account_statement/">
                <img class="img img-responsive" src="related/2.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_account_asset/">
                <img class="img img-responsive" src="related/3.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_account_budget/">
                <img class="img img-responsive" src="related/4.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_account_cheque/">
                <img class="img img-responsive" src="related/5.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_account_tax_report/">
                <img class="img img-responsive" src="related/6.png" style="width: 100%;"/>
            </a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Most Demanded Apps</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
                <img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
                <img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
                <img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
                <img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
                <img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/branch/">
                <img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
            </a>
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan" style="font-size: 18px;">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<div class="img img-responsive text-center">
                <a href="http://www.browseinfo.in" target="new">
                    <img src="bi_logo.png">
                </a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
            <a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in" target="_blank">Email on Support</a>
            <a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
        </div>
	</div>
</section>




