<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Treasury Forecast and Cash Flow Management</h2>
        <h3 class="oe_slogan">Get a clear view of your cash situation and plan your next moves!</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="text-justify oe_mt32">
            <p><strong><u>WARNING: Chart data representation is NOT yet available on version 12.</u></strong></p>
        </div>
        <div class="text-justify oe_mt32">
            <p>This module introduces treasury planning functionalities into Odoo.</p>
            <p>User will create a forecasting window for a defined period of time.
                Once created the user will have in one single window all the cash flow
                data and will be able to arrange this data to better organize his cash flow.</p>
            <p>A detailed cash flow is also introduces a daily cash flow based bank moves,
                move lines, planned payment and draft invoices.</p>
            <p><strong>A video tutorial is available at this link:
                <a href="https://youtu.be/jK1zSbnpwZc">Video Demo</a></strong></p>
        <p>For additional information write to giacomo.grasso.82@gmail.com. Please note that:</p>
            <ul>
                <li>You can be added directly to the Github repo,</li>
                <li>You can download any debug or improvement,</li>
                <li>You will access to all new features,</li>
                <li>You can download any new version fo the module,</li>
                <li>You can contribute and suggest improvements.</li>
            </ul>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11c_bank_chart.png">
        </div>
        <div class="text-justify oe_mt32">
            <p>Images: above a chart representation of the cash flow, with or without forecasted moves.</p>
            Below an example of the table report with daily details, and a page for the cash flow management.
            </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11c_bank_forecast.png">
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11c_treasury_forecast.png">
        </div>
        <p></p>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Features</h2>
        <div class="text-justify oe_mt32">
            <p>This module allows you to:</p>
            <ol>
                <li>Plan your treasury with your planned cash moves</li>
                <li>Add draft invoices and any other account moves to your cash planning</li>
                <li>Print table with daily total balance,</li>
                <li>Print daily balance with all operations,</li>
                <li>Export in Excel,</li>
                <li>Chart view of the daily balances</li>
                <li>chart settings, with zoom and possibility of saving as image.</li>
            </ol>
             <p>This module perfectly works also on Enterprise version.</p>
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="11E_bank_balance.png">
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="11E_treasury_forecast.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Get in touch with us!</h2>
        <div>
            <p class="oe_mt32 oe_mb32 text-justify">
            <p>This module has been developed by Giacomo Grasso (giacomo.grasso.82@gmail.com) and
                Gabriele Baldessari (gabriele.baldessari@gmail.com).</p>
            <strong>Get in touch with us for any request of improvements or to contribute!</strong>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>