
.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
    /* Duration fixed since we animate additional hidden width */
  }
  
  .has-spinner.active {
    cursor: progress;
  }
  
  .has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px;
    /* More than it will ever come, notice that this affects on animation duration */
  }
  .lb-sm {
  font-size: 12px;
  }
  
  .lb-md {
    font-size: 16px;
  }
  
  .lb-lg {
    font-size: 20px;
  }

  .divider {
    border-left: 1px solid #797e84 !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    height: 1.2em !important;
  }