/*Sba*/
.mb-10{
  margin-bottom: 10px !important;
}
.pl-10{
  padding-left: 10px !important; 
}

.search_input_icon {
    position: absolute;
    top: 7px;
    left: auto;
    bottom: auto;
    right: -10px;
    font-size: 1.3em;
}