<section class="oe_container">
    <div class="oe_row oe_spaced">
        <b><h2 class="oe_slogan">Equipment Request & IT Operations</h2>
        <h3 class="oe_slogan">Human Resource</h3></b>
        <p>This module allow employees to send requests to HR department for equipments type of hardware and software.</p>
        <p class="oe_mt32">
<b>Available Features:</b><br/><i>
    &ensp;&ensp;* Allow employee to request for hardware/software resource to HR department.<br/>
    &ensp;&ensp;* Allow employee to request for damage hardware and expense integrated with HR expenses.<br/>
    &ensp;&ensp;* Integrated with Warehouse.<br/>
    &ensp;&ensp;* Print PDF report of Equipments.</i><br/>
    &ensp;&ensp;* HR can generate expense for damages.</i><br/>
    &ensp;&ensp;* Stock user can generate internal transfer for equipment requess.</i><br/>

     <b>Workflow:<br/></b> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;* Draft-&gt;Waiting for Approval-&gt;Approved by Department-&gt;Approved by HR-&gt;Equipment Assigned-&gt;Refused-&gt;Rejected</i>
        </p>
        <p>
        <b>Menus Available:</b>
            </p><ul><i>
              <li>Equipments/Equipments</li>
              <li>Equipments/Equipments/My Equipment Requests</li>
              <li>Equipments/Equipments/Department Equipment Requests to Approve</li>
              <li>Equipments/Equipments/HR Equipment Requests to Approve</li>
              <li>Equipments/Equipments/Stock Equipment Requests to Approve</li>
             </ul>
        </p>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Equipment Requests - Menu For Admin</h2>
        <br/>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="hrit13.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Equipment Requests - Menu For Employee</h2>
        <br/>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="hrit-1.png">
                <img src="hrit-2.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Equipment Damage Requests - Waiting For Approval Of Department</h2>
        <br/>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="hrit-3.png">
            </div>
        </p>
        <br/>
    </div>
</section>


<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Generate Expense Button - Visible On Damage Request (Only For HR Officer)</h2>
        <br/>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit-5.png">
            </div>
        </p>
        <br/>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">List of Generated Expenses</h2>
        <br/>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit-6.png">
            </div>
        </p>
        <br/>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Approved By HR Department</h2><p>
        Create internal transfer button for stock/warehouse user which will create internal picking.</p>
        <br/>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit-7.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">View Internal Transfer</h2><p>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit-8.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Internal Transfer Form</h2><p>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit9.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Department Manager Configuration</h2><p>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit10.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Print PDF Report</h2><p>
        </p>
        <br/>
        <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit11.png">
            </div>
        </p>
        <br/>
    </div>
</section>
<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <br/>
         <p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hrit12.png">
            </div>
        </p>
        <br/>
    </div>
</section>

<section class="oe_container" >
    <h2 class="oe_slogan">Employee Exit Checklists</h2>
    <p>This is checklist request sent to respected department for verification and approval. Once department manager approve exit request all checklists configured in the system will make individual checklist request to respected departments for approval. We have also added constraint as well, if all checklists are not approved and HR try to approve exit request then we are showing warning to HR to make sure all resepected departments approval needed.</p>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="s1.png">
        </div>
    </div>
</section>
<section class="oe_container" >
    <h2 class="oe_slogan">Print Employee Exit Report</h2>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="s5.png">
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="s6.png">
        </div>
    </div>
</section>
<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 col-md-5">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
