.btn-customer {
    color: #fff;
    background-color: #875A7B;
    border-color: #875A7B;
}
.o_td_label{
    width:20% !important;
}
.btn-customer:hover {
    color: #fff;
    background-color: #542a49;
    border-color: #542a49;
}
.input_binary{
    width: 230px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 4px;
    color: #4d4d4d;
    outline: none;
    height: 32px;
    line-height: 18px;
}
.field_binary input{
    width: 230px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 4px;
    color: #4d4d4d;
    outline: none;
    height: 32px;
    line-height: 18px;
}
.label_binary{
    padding: 13px 0 0 0;
}
.div_binary{
    width:100%;
}
.field_binary .o_select_file_button:nth-child(2){
    padding:6px 10px !important;
    width:230px;
}
.alert_binary{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 4px;
    margin-top: -6px;
    background: #fff;
    cursor: inherit;
}
.alert_success_binary{
    border: 1px solid #4cae4c;
}
.alert_danger_binary{
    border: 1px solid #d43f3a;
}
.span_success_binary{
    background-color: #5cb85c;
    width: 18px;
    height: 18px;
    border-radius: 8px;
    display: inline-block;
}
.span_danger_binary{
    background-color: #d9534f;
    width: 18px;
    height: 18px;
    border-radius: 8px;
    display: inline-block;
}
@media (min-width: 992px){
    .modal-lg {
        width:90% !important;
    }
}

.oe_right[name=statement_button] button,
.oe_right[name=followup_button] button,
.oe_right[name=new_button] button{
    margin: 10px 0 0 5px;
    color:#fff;
}

.oe_right[name=followup_button] button:nth-child(2),
.oe_right[name=statement_button] button:nth-child(2){
    background-color:#17a2b8;
}

.oe_right[name=followup_button] button:nth-child(1),
.oe_right[name=statement_button] button:nth-child(1){
    background-color:#7c7bad;
}

.oe_right[name=new_button] button:nth-child(1){
    background-color:#5cb85c;
}

.oe_right[name=followup_button] button:nth-child(1):before,
.oe_right[name=statement_button] button:nth-child(1):before,
.oe_right[name=new_button] button:nth-child(1):before{
    content: "\f02f";
    font-family: FontAwesome;
    color: #fff;
    font-size: 12px;
    padding-right: 1px;
    opacity: 0.9;
}

.oe_right[name=followup_button] button:nth-child(2):before,
.oe_right[name=statement_button] button:nth-child(2):before {
    content: "\f0e0";
    font-family: FontAwesome;
    color: #fff;
    font-size: 12px;
    padding-right: 1px;
}