/*========================== Footer Style 1 ================================*/
/*---- Company Logo ----- */
.te_footer_add_tel_email
{
	li{       
		margin-top: 14px;
		list-style-type: none;
	   }
	.te_footer_info_text 
		{
			margin: 0;
			padding: 0;	
		}
	.te_ftr_text_style
		{
        	font-size:nth($f_sizes,3);
		}
	.te_footer_add_tel_email_text_ept
	{
		@include style(3,19,inherit,null,uppercase);
		font-weight:bold;
	}
	.te_footer_social_icon
	{
	    margin: 16px 0 16px 0;
		
		a:first-child 
		{
	   	 	margin:0;
			padding-left:0;
		}
		>a
		{
			@include style(7,3);
			@include transition(all,0.25s,ease-out,0s)
			@include transform(scale(1))

			&:hover
			{	 
				@include transition(all,0.25s,ease-out,0s)
			    @include transform(scale(1.2))
				color: nth($f_color,3);
			}
		}
	}
	.te_footer_logo_img 
	{
		> img
		    {
			max-height: 60px;
		    }
	}	
}
/*---- static Menu -----*/
.te_footer_info_ept 
{
	margin: 0;
	padding: 0;
	
	li
      {
		padding: 10px 0;
		list-style-type: none;
		@include transition(padding,.5s,ease,0s)
		cursor: pointer;

			&:hover
			{
				padding-left: 10px;
				a
				{
				color: nth($f_color,19);
				}
			}
			 a
			 {
			 	font-size:nth($f_sizes,3);
				text-transform: capitalize;
				color: inherit;
			 }
		}	
}

.te_footer_title_text
{
	@include style(4,10);
	margin-top:12px;
	display:inline-block;
}
/*--- Payment Image -----*/
.te_footer_text_img 
{	
	margin-bottom:16px;

	img
	  {
	   	max-width: 100%;
	  }
	 h2
	  {
		margin: 16px 0 8px 0;
		font-size:nth($f_sizes,4);
		color: inherit;
	  }
}
/*--- Multiple Language Selected -----*/
.te_language
{
	.list-inline-item
	{
		a{
			color: inherit;
			&:hover{
				color:nth($f_color,19);
			}
		}
	}
}
/*--- Bottom Static Menu ---*/
.te_body_bg{
	.te_footer_inline_menu_t
	{
		font-size:nth($f_sizes,3);
		list-style-type: none;
	    text-align:center;
		margin-bottom:0px;
		padding: 0;
		 li
		{
			padding: 14px;
			display: inline-block;
			@include transition(null,0.3s)

			&:hover
			{
				color: nth($f_color,19);
				@include transition(null,0.3s)
			}
		a
		{
			color: inherit;
		}	
		}
		@media (max-width:500px)
		{
			padding-top: 16px;
			padding-bottom: 16px;
			> li
			{
				padding: 8px 6px;
			}
		}
	}
	.te_copyright_add_language
	{
		text-align: center;
		color: inherit;
		padding-bottom:16px;
		@include media-breakpoint-down(sm) 
		{
			font-size:nth($f_sizes,3);
		}
	}
}	
