.openerp .oe_form_sheetbg {
  padding: 16px 0;
  max-width: 150% !important;
  overflow : visible;
}
.openerp .oe_form_sheet_width {
    min-width: 50%;
    margin: 0 auto;
}
.o_list_button {
  text-align:center !important ;
}
