
.web_hide_show
{
    background-image: url("/tsm/static/src/img/show_hide_gray.png");
    background-size: 17px 22px;
    width: 17px;
    height: 25px;
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
}

.web_hide_show:hover
{
    background-image: url("/tsm/static/src/img/show_hide.png");
    background-size: 17px 22px;
}
